Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

feat: new test for uptime monitor
  features/pfp/get_prescriptions.feature
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

feat: user-tags no longer appended with product
  features/pfp/get_prescriptions.feature
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: set defaults to what's req'd for test
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

docs: comment on get_prescriptions feature
  features/pfp/get_prescriptions.feature
Due: none

chore: tag get_prescriptions feature as well as scenario
  features/pfp/get_prescriptions.feature
Due: none

Chore: [AEA-6032] - update configuration of API monitor (#558)
  .github/workflows/uptime_monitor.yml
  features/pfp/get_prescriptions.feature
  features/steps/pfp_api_steps.py
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

deploy: 7d1b1298618d03294d65cebed74f14b88a0a679f
  index.html
Due: none

Notes added by 'git notes add'
  7d1b1298618d03294d65cebed74f14b88a0a679f
Due: none

New: [AEA-6102] - Add PFP-Proxygen as an automated product addition (#547)
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  04981beae8090f21121b8afc444247f218ba574d
Due: none

chore: inprocess working locally
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  947ff594d924d6522cd70d7c4a88bcf802e578b7
Due: none

Notes added by 'git notes add'
  31b276c60e657eccccc9ad6761474000ea72de8f
Due: none

updated text
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

fixed typo
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5926] - Removes redundant test (#525)
  features/cpts_ui/patient_detail_banner.feature
  features/steps/cpts_ui/patient_details_banner.py
  pages/patient_details_banner.py
Due: run_black, run_pyright, run_flake8

deploy: 50bf966b8da44c94c6c2d009cb45b6e4d6255911
  index.html
Due: none

Notes added by 'git notes add'
  50bf966b8da44c94c6c2d009cb45b6e4d6255911
Due: none

chore: note where to find test env vars
  template.env
Due: none

Notes added by 'git notes add'
  d8d7929cc39b8faed23928bba4ffdc95c5ab6c6c
Due: none

Notes added by 'git notes add'
  8bdedc136d8389b3bd187b58f6d44de274eba626
Due: none

Notes added by 'git notes add'
  60172ef054710441e47e5c2e1566aeeeb41f4ce7
Due: none

fix it
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

do not install npm
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  073b35e8b632d28ea89f3a54892b128105056e63
Due: none

Fix: [AEA-5935] - updated privacy notice text (#564)
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  0769771bd8fdc13477a36cd14602a4cd45ab8df8
Due: none

retry properly in qa
  features/environment.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - retry properly in qa (#574)
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  1250c35dfc66d472f2579e0e8e2b3a3256ab595a
Due: none

Fix: [AEA-5935] - privacy notice (#575)
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Revert "Fix: [AEA-5935] - privacy notice (#575)"
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  47ecac79d7cd0307fe0952441cbd4c2f5dbd38fc
Due: none

expt: investigating issues running behave in process
  features/pfp/get_prescriptions.feature
  scripts/async_hello.py
  scripts/async_hello_requests.py
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Set PFP proxygen path
  features/environment.py
Due: run_black, run_pyright, run_flake8

Fix spelling error
  features/environment.py
Due: run_black, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
