Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

feat: first draft api monitor workflow
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: editorconfig says 2 space indentation, enforce
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

retry tests in qa
  features/environment.py
Due: run_black, run_pyright, run_flake8

fix: remove dupe export env
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

Chore: [AEA-6032] - PfP uptime automation (#522)
  .devcontainer/devcontainer.json
  README.md
  methods/api/pfp_api_methods.py
  poetry.lock
  pyproject.toml
  runner.py
  scripts/run_uptime_monitor.py
  template.env
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  2a3e9de7caedc2aa129526b03d9ff5ba68309dd2
Due: none

Chore: [AEA-6032] - workflow for uptime monitor during API change over (#556)
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

fix(gha): give script time to finish
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

fix: graceful termination
  .github/workflows/uptime_monitor.yml
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  741f56a3aa72c31988898e1c9c9be321a009f4f3
Due: none

chore: use ping.feature to avoid intermittent failures and long requests
  .github/workflows/uptime_monitor.yml
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

chore: debug logging
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: permit workflow to set log level
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: provide allure cfg
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: only run smoke tags
  .github/workflows/uptime_monitor.yml
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

chore: remove tmp log level
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

Fix: [AEA-6002] - retry tests in qa (#557)
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  e2ccbf15d97e260b1fffb450dee2e9008f081fb9
Due: none

Notes added by 'git notes add'
  ad87fa25f75d00d30e0e607c6139a9c2c8865814
Due: none

Notes added by 'git notes add'
  5d84147366e273525ad2b70d8a5b843ff03ecbdf
Due: none

Notes added by 'git notes add'
  747b5316d74ee5d9c5aaad128dda55074ce4fd9e
Due: none

Notes added by 'git notes add'
  46cbf36b766d2f3e41289ce5adc227821c67fe85
Due: none

fix: sig handling
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

fix: sig handling
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: give GHA more time for py script to complete
  .github/workflows/uptime_monitor.yml
  delegated prescription.json
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

chore: trap script pid, not poetry
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: trap script pid, not poetry, signmal entire group with -ve pid
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: try running script without poetry
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

chore: final option: double wrap sig handler
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Revert "chore: final option: double wrap sig handler"
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: remove file committed in error
  delegated prescription.json
Due: none

chore: log the behave command to be run
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-6079] - updated regression tests for new modal work (#545)
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/logout_steps.py
  pages/logout.py
Due: run_black, run_pyright, run_flake8

deploy: 9bddaed5fdfec973c8148527062c989474971caa
  index.html
Due: none

Notes added by 'git notes add'
  9bddaed5fdfec973c8148527062c989474971caa
Due: none

fix: only run smoke tests
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

updated privacy notice text
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Revert "fix: only run smoke tests"
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

feat: add user-defined tags to run
  .github/workflows/uptime_monitor.yml
  scripts/run_uptime_monitor.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
