Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Use the test id instead of hardcoded message for the pending cancellation
  features/cpts_ui/prescription_detail.feature
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Remove dependency on hardcoded text
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4801] - Message History (#299)
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  0d63d08689f1c2bfb1a3d404edea07b1a3051a77
Due: none

fixed older failing regression tests
  1.png
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/prescription_list.feature
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Very basic happy path test to add eRD prescription to tests
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/steps/eps_api_steps.py
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

fixed typo
  features/cpts_ui/patient_detail_banner.feature
Due: none

fixed weird indenting thing with tags in feature files
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
Due: none

Notes added by 'git notes add'
  02be896941fddc2bd354e0b3e67bf44f5ad4c5c3
Due: none

New: [AEA-5219] - ERD-prescription-automated-test-end-to-end-journey (#306)
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/steps/eps_api_steps.py
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  ebf32bbc6431f0d957f2a8dd76726ac2efccffce
Due: none

added extra step for generating a report ad-hoc in regression_tests.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Upatient detail banner scenario
  features/cpts_ui/patient_detail_banner.feature
Due: none

Add the find a patient scenarios
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Add regression tests for validation messages
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

Remove the unnecessary comment
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

got last tests working
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_list.feature
Due: none

tidied up
  1.png
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_list.feature
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Remove unnecesary testing statement
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

Refactor the code
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4784] - Search by NHS Number - CPTS UI (#304)
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  7fab71be178c1157bf49e53c11c413a81a4ae66a
Due: none

updated add pr script to exit gracefully instead of error when it detects an unsupported product or that it's not a pr
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Add the footer regression tests
  features/cpts_ui/footer.feature
  features/steps/__init__.py
  features/steps/cpts_ui/footer_steps.py
  features/steps/cpts_ui/home_steps.py
  pages/footer.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  0a374fac5c187db378cab4be18252b1c87b2b1ed
Due: none

Update the link locator
  pages/footer.py
Due: run_black, run_pyright, run_flake8

Update the links test
  features/cpts_ui/footer.feature
Due: none

Update the terms and conditions link locator
  pages/footer.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4814] - CIS2 Terms and Conditions Link and check the Footer has been implemented correctly (#309)
  features/cpts_ui/footer.feature
  features/steps/__init__.py
  features/steps/cpts_ui/footer_steps.py
  features/steps/cpts_ui/home_steps.py
  pages/footer.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  fdb3549d79d46579fc2c9fd095cfdc84a2af9188
Due: none

Fix for dispensing eRDs
  features/steps/eps_api_steps.py
  messages/eps_fhir/dispense_notification_erd.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5219] - erd prescription automated test end to end journey (#312)
  features/steps/eps_api_steps.py
  messages/eps_fhir/dispense_notification_erd.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  f8f42604ebbeacf22b412ca9fb6c4e01f5e938e2
Due: none

New: [AEA-5259] - Ad-hoc-report-generation (#308)
  .github/workflows/regression_tests.yml
  scripts/add_pr_product_to_app.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  eb86e1c3c4c58ae5334806622a3a643b5411dcd4
Due: none

Notes added by 'git notes add'
  93da18eba80cfd286ba8acd2577fb690c9e489ba
Due: none
