Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Update tests to work with the new active tab urls
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/prescription_list_page.py
Due: run_black, run_pyright, run_flake8

updated pre-commit version package updates slight addition to make deep-clean template.env updated to reflect new environment variables used when running locally
  .gitallowed
  .pre-commit-config.yaml
  Makefile
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/steps/eps_api_steps.py
  messages/eps_fhir/prescription.py
  poetry.lock
  template.env
Due: run_black, run_pyright, run_flake8

fixed 2 broken tests
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/unauthorised.feature
Due: none

added new make command for asdf updated README.md
  Makefile
  README.md
Due: none

New: [AEA-4941] - Repeat prescription automated test end to end journey (#287)
  .gitallowed
  .pre-commit-config.yaml
  Makefile
  README.md
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/unauthorised.feature
  features/steps/eps_api_steps.py
  messages/eps_fhir/prescription.py
  poetry.lock
  template.env
Due: run_black, run_pyright, run_flake8

Add fixme notes
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
Due: none

Notes added by 'git notes add'
  d03fe97d0fe553692577ecb6135583938be2fc8a
Due: none

Missed a fixme
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-4792] - Prescription list tabs (#286)
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/prescription_list_page.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  e9bae1f5e7af53e92edc13bfd9b192752c4c5b69
Due: none

Notes added by 'git notes add'
  da86d4717d5ea2d1e01bb823858649a9bbbe8460
Due: none

Add regression tests for the prescription information banner
  features/cpts_ui/prescription_information_banner.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/prescription_information_banner.py
  pages/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

Add comments explaining the usage of the mock data
  features/cpts_ui/prescription_information_banner.feature
Due: none

Add regression tests for site org cards
  .devcontainer/devcontainer.json
  features/cpts_ui/prescription_detail.feature
  features/steps/__init__.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  pages/prescription_details.py
  pages/prescription_list_page.py
Due: run_black, run_pyright, run_flake8

Update the banner eRD type test
  features/cpts_ui/prescription_information_banner.feature
Due: none

Notes added by 'git notes add'
  c4a32f819307c5f27e2e1aacf5e029d461bf09a0
Due: none

Updated packages committing work to be able to switch branch
  .github/workflows/regression_tests.yml
  poetry.lock
  pyproject.toml
  scripts/add_pr_product_to_app.py
  scripts/set_secrets.sh
Due: run_black, lint-githubactions, run_pyright, run_flake8

added additional cancel tests for EPS-FHIR-PRESCRIBING that were missed
  features/eps_fhir_prescribing/cancel_prescriptions.feature
Due: none

update poetry back to 2.1.1
  .tool-versions
  poetry.lock
Due: none

Add a test to verify that the loading message is displayed while prescription data is being fetched
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

stopped passing in credentials via arguments and instead rely on environment variables to help protect sensitive data
  .github/workflows/regression_tests.yml
  scripts/add_pr_product_to_app.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Remove the suspicious test
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

added exclusions to git secrets
  .gitallowed
Due: none

Restore the loading message test
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

Update .gitallowed file
  .gitallowed
Due: none

Amend the .gitallowed file
  .gitallowed
Due: none

Update the .gitallowed file
  .gitallowed
Due: none

missed jira ticket on a feature
  .gitallowed
  features/eps_fhir_prescribing/cancel_prescriptions.feature
Due: none

trying more excluding on git secrets check
  .gitallowed
Due: none

Update: [AEA-4941] - repeat prescription automated test end to end journey (#292)
  .gitallowed
  .tool-versions
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  poetry.lock
Due: none

Notes added by 'git notes add'
  dc1b8469b82853845948cfe098927be3a2e5344e
Due: none

Notes added by 'git notes add'
  dc7eea48bcf8c79c8f1b3dc54f0db526d0865ba0
Due: none

New: [AEA-4797] - Prescription Information Banner (#288)
  .gitallowed
  features/cpts_ui/prescription_information_banner.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/prescription_information_banner.py
  pages/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a2d71c9bdaecc479123bbac8eb76041341d03fb1
Due: none

minor refactoring
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
Due: run_black, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
