Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Notes added by 'git notes add'
  e602b75a92310545cb9ac6ef0b75e757bd257c01
Due: none

skip psu test
  features/psu/send_status_update.feature
Due: none

Break ping test
  features/cpt_api/ping.feature
Due: none

add metadata tests
  features/eps_fhir/metadata.feature
  features/eps_fhir_dispensing/metadata.feature
  features/eps_fhir_prescribing/metadata.feature
  features/steps/common_steps.py
  methods/api/common_api_methods.py
Due: run_black, run_pyright, run_flake8

fix tags
  features/eps_fhir/metadata.feature
  features/eps_fhir_dispensing/metadata.feature
Due: none

handle page not defined
  features/environment.py
Due: run_black, run_pyright, run_flake8

add api key auth
  features/steps/eps_api_steps.py
  methods/api/common_api_methods.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

fix it
  methods/api/eps_api_methods.py
  methods/api/pfp_api_methods.py
  methods/api/psu_api_methods.py
Due: run_black, run_pyright, run_flake8

skip validator
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

fix wordings
  features/eps_fhir/metadata.feature
  features/eps_fhir_dispensing/metadata.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_prescribing/metadata.feature
  features/eps_fhir_prescribing/unauthorised.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  methods/api/common_api_methods.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

fix asdf
  .devcontainer/Dockerfile
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

debug user
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix it
  features/eps_fhir/metadata.feature
  features/eps_fhir_dispensing/metadata.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_prescribing/metadata.feature
  features/eps_fhir_prescribing/unauthorised.feature
Due: none

fix tests
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix product
  features/eps_fhir_prescribing/metadata.feature
Due: none

correct tags
  features/eps_fhir_dispensing/metadata.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_prescribing/metadata.feature
Due: none

remove debug
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - pin asdf version (#254)
  .devcontainer/Dockerfile
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  a57a5bc361220781c0154b550cbc5d6d625f881e
Due: none

Fix: [AEA-4896] - add metadata tests for fhir facade apis (#252)
  features/environment.py
  features/eps_fhir/metadata.feature
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/metadata.feature
  features/eps_fhir_dispensing/unauthorised.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/metadata.feature
  features/eps_fhir_prescribing/unauthorised.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  methods/api/common_api_methods.py
  methods/api/eps_api_methods.py
  methods/api/pfp_api_methods.py
  methods/api/psu_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  dfd343b06a682787561494d0ce2546ee66290a55
Due: none

Fix: [AEA-0000] - skip psu e2e test (#253)
  features/psu/send_status_update.feature
Due: none

Notes added by 'git notes add'
  dcf42d82cabf4e4f475d809633e4e137dfbd6ef6
Due: none

Notes added by 'git notes add'
  8c0146c3a22f4424674d604d086bb2c9d837cf10
Due: none

Notes added by 'git notes add'
  17cd1b24e2fc2d5225784995387dac535b209778
Due: none

intentionally broke a psu test
  features/psu/send_status_update.feature
Due: none

restore broken psu test break cpts ui test
  features/cpts_ui/header.feature
  features/psu/send_status_update.feature
Due: none

Skip broken test
  features/cpts_ui/header.feature
Due: none

break the test again
  features/cpts_ui/header.feature
Due: none

fix test
  features/cpts_ui/header.feature
Due: none

break test
  features/cpts_ui/header.feature
Due: none

Notes added by 'git notes add'
  bc9cd3548371cd30e8e4ad68cfdc94835aeef354
Due: none

Notes added by 'git notes add'
  9e1e7f652ec8b872aadc9f162384392f6cb424c3
Due: none

Comment out test
  features/cpts_ui/header.feature
Due: none

Comment in test
  features/cpts_ui/header.feature
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
