Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  b46a7c80ca2124b70c03f8de4a5350f5a5f59869
Due: none

Notes added by 'git notes add'
  3c61af82e791a17c8f088389f7a739185b201c74
Due: none

Chore: [AEA-4513] - Set up header (#190)
  features/cpts_ui/home_page.feature
  features/environment.py
  features/steps/cpts_ui_home_page_steps.py
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  7e205419cf45596e2320d44612889b15af0914e8
Due: none

AEA-4750 testing
  features/cpts_ui/home_page.feature
Due: none

only check common stuff in ping test
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

latest pyright
  pyproject.toml
Due: none

get correct auth token
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  9dc976b565a8dc4d9a52928bda35c38e6df2a881
Due: none

Notes added by 'git notes add'
  467d101a4dbac16784f07a5a17fd3e20bd3891c6
Due: none

Fixed the broken tests
  features/cpts_ui/home_page.feature
  features/eps_fhir/cancel_prescriptions.feature
  features/steps/cpts_ui_home_page_steps.py
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

set prescribing and dispensing base url
  features/environment.py
Due: run_black, run_pyright, run_flake8

fix sandbox url
  features/environment.py
Due: run_black, run_pyright, run_flake8

correct test
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Tests for AEA-4516 and AEA-4518 Refactoring of classes for page objects Steps for UI-related steps now in sub folders for better organisation
  features/cpts_ui/home.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui_home_page_steps.py
  pages/home.py
  pages/home_page.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

reverted unwanted change to cancel_prescriptions.feature removed commented-out code
  Makefile
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
Due: run_black, run_pyright, run_flake8

fix url
  features/environment.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-4399] - fix tests for seperate prescribe dispense api (#192)
  features/environment.py
  features/steps/common_steps.py
  methods/api/eps_api_methods.py
  methods/shared/common.py
  pyproject.toml
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a5d5ccc7a4b8ebb66ee5c4ad4a21d19ef33664ac
Due: none

Notes added by 'git notes add'
  faba0431baa90fa798257873d8369e722350bcca
Due: none

Chore: [AEA-4518] - and [AEA-4516] search for a prescription tabs and hero banner (#195)
  Makefile
  features/cpts_ui/home.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui_home_page_steps.py
  pages/home.py
  pages/home_page.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  52ff972d90ddf08ed29aad97bc4bf22aafa99b28
Due: none

fix psu test
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

Added option for second run against SHA1 app
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Add the playwright test package
  package-lock.json
  package.json
Due: none

script to set secrets
  scripts/set_secrets.sh
Due: none

script to set secrets
  .github/workflows/regression_tests.yml
  scripts/set_secrets.sh
Due: lint-githubactions

fix workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

allure results for sha1 failure
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Add select your role regression tests (untested)
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4587] - Added option for second run against SHA1 app (#198)
  .github/workflows/regression_tests.yml
  scripts/set_secrets.sh
Due: lint-githubactions

Notes added by 'git notes add'
  a489481b9a2a67bf456a3b0584ecfcefb290096a
Due: none

fix step output check
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix step output check (#200)
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  2d2a2a3084f95e0bbbf318c7eaf4ec16d243a491
Due: none

Minor addition to test
  .gitignore
  features/cpts_ui/select_your_role.feature
Due: none

headless
  features/environment.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4653] - [AEA-4651] - Combined PR for Select your Role page features (#202)
  .github/workflows/regression_tests.yml
  package-lock.json
  package.json
  scripts/set_secrets.sh
Due: lint-githubactions

Notes added by 'git notes add'
  6a48e609ddbb88a3488ee666e4da96e36d464697
Due: none

Fix regression tests
  Makefile
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8
