Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

fix while loop
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  cd604cb8c33788e3980cf5f0c01a624e72b50500
Due: none

Notes added by 'git notes add'
  e79d362981ac6fe26e573005ef0a20f75d900ea3
Due: none

Breaking: [AEA-0000] - parallel tests (#381)
  .github/workflows/regression_tests.yml
  features/cpts_api/get_prescription.feature
  features/cpts_api/search_for_prescriptions.feature
  features/cpts_ui/basic_details_search_results.feature
  features/cpts_ui/change_role.feature
  features/cpts_ui/cookie.feature
  features/cpts_ui/header.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/notfound.feature
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/search_results_too_many.feature
  features/cpts_ui/select_your_role.feature
  features/cpts_ui/your_selected_role.feature
  features/environment.py
  features/pfp/view_prescriptions.feature
  features/steps/cpts_ui/login_steps.py
  runner.py
  scripts/run_regression_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  d8ec256d466e102c1bc7be29a9d00d5473726316
Due: none

Notes added by 'git notes add'
  1200a25d3259a78ccd8a0f1b4b89e9aa8de63498
Due: none

Add additional test for app root route redirection
  README.md
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  b777ca30bfdd4dfc2afdb3e18d441abd214ef952
Due: none

New: [AEA-5481] - Additional tests for bug fix (#386)
  README.md
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  8688ad60615a0f18326edf16ff925d91f68bc4f3
Due: none

deploy: 8688ad60615a0f18326edf16ff925d91f68bc4f3
  index.html
Due: none

Notes added by 'git notes add'
  c6809440b47fb25aba9cf5cce8cf586bb5b5c9ae
Due: none

debug auth
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

more debug
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

add ant test
  features/eps_fhir/create_prescriptions.feature
Due: none

more allure.step
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

pass allure around
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

pass it differently
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

revert
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

update pytest-nhsd-apim
  poetry.lock
  pyproject.toml
Due: none

debug it
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  b142452834a3ed0a3de76f0d56d37dfd6ab3a2a9
Due: none

Notes added by 'git notes add'
  935fbb4eea44b9f6833f718c1f6e20730ff744cb
Due: none

Notes added by 'git notes add'
  7be7c2c722da29a4066cea4f89fbec0eea1242bc
Due: none

Notes added by 'git notes add'
  af635936a491c6deb929dbd69d1e7f2ff994664d
Due: none

Notes added by 'git notes add'
  f29f071128d506e07be7c55279099e31c041ed52
Due: none

Notes added by 'git notes add'
  8ed8c5221dc0baf029daa76267fb6666a61af06e
Due: none

Notes added by 'git notes add'
  a03c2e0a18fad8122453924c3994c46f5c6a9aa2
Due: none

increase job timeout
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

better comment
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - increase job timeout (#397)
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  c9bfa6025f63bb4f06a504d024d549cae4369f88
Due: none

Fix allure upload artifacts
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  669df6ecc2aa06fd1062adbe0047349bcd926121
Due: none

Fix: [AEA-0000] - Allure upload artefacts repair. Upload all files (#398)
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  ade95fbf2cacdb4b95f15fad42ce69724865d5b2
Due: none

[AEA-5565] update not found test to use valid format prescriptionID
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  f7a11ff6be99b428e6cb131dcc818858dd1c3257
Due: none

New: [AEA-5565] - Update CPT Not Found test to use valid format prescription ID (#400)
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  2ae2218dacaab7776a6e77a1cbe223353440bdc7
Due: none
