Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Add notes
  features/cpts_ui/prescription_detail.feature
Due: none

Update the prescription information banner mock data test
  features/cpts_ui/prescription_information_banner.feature
Due: none

Fix patient details banner tests
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/prescription_list.feature
  features/steps/cpts_ui/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4802] - Site org information cards (#291)
  .devcontainer/devcontainer.json
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/prescription_list.feature
  features/steps/__init__.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  pages/prescription_details.py
  pages/prescription_list_page.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  d2ded661fcbe76b51a44e2e4ceb86fc8cf9636c2
Due: none

refactor to make the consumer keys be fetched from the get call to the app
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

changed logic for determining whether the script should run to be inside the script itself rather than gh actions workflow
  .github/workflows/regression_tests.yml
  scripts/add_pr_product_to_app.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

removed SSO url from secret setting script
  scripts/set_secrets.sh
Due: none

Update the test data
  features/cpts_ui/prescription_information_banner.feature
Due: none

try adding exports for the APIGEE secrets in the workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

try again adding exports for the APIGEE secrets in the workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

add continue-on-error: true to add product to app for pr step
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Update the issue date
  features/cpts_ui/prescription_information_banner.feature
Due: none

Update the status value
  features/cpts_ui/prescription_information_banner.feature
Due: none

Update the eRD type test
  features/cpts_ui/prescription_information_banner.feature
Due: none

wip on claims
  features/eps_fhir_dispensing/claim.feature
  features/steps/eps_api_steps.py
  messages/eps_fhir/claim.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

removed EPS-FHIR out of list of allowed products
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Amend the Status for the eRD prescription type
  features/cpts_ui/prescription_information_banner.feature
Due: none

New: [AEA-5030] - automated tests should add pull request deployments to apigee product (#293)
  .github/workflows/regression_tests.yml
  poetry.lock
  pyproject.toml
  scripts/add_pr_product_to_app.py
  scripts/set_secrets.sh
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  f68d2646444c900f3b66b65f33672b74749463ee
Due: none

Notes added by 'git notes add'
  681413d9270dae3c262796f52d7bb082eb85e5e3
Due: none

Notes added by 'git notes add'
  19a3c31a6b6f239242058c66fcb353d4614e280b
Due: none

Amend the regression test for prescription_information_banner so that they do not depend on specific mock data values
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_information_banner.py
Due: run_black, run_pyright, run_flake8

Add regression tests for the prescribed and dispensed item cards
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4799] - Prescribed and Dispensed Items (#294)
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  d170ccedddd6a956cba2bb7c8ad6bbff98f247c5
Due: none

Fix to add the new pr product instead of the old Azure Devops one
  .github/workflows/regression_tests.yml
  features/environment.py
  scripts/add_pr_product_to_app.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  0335d4085d57d7547b41f22c302362852a3ec691
Due: none

adds patient search feature and methods
  .devcontainer/devcontainer.json
  features/cpt_api/search_for_patients.feature
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

updates step name
  features/cpt_api/search_for_patients.feature
  features/steps/cpts_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5030] - automated tests should add pull request deployments to apigee product (#300)
  .github/workflows/regression_tests.yml
  features/environment.py
  scripts/add_pr_product_to_app.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  99937fff6bed0483f3ae791f26d0d75ce11482ba
Due: none

Add regression tests for the message history card component
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  462d418bad867b03e5bce54cf6564c109402ebdf
Due: none

Update the test for a prescription with incomplete data
  features/cpts_ui/patient_detail_banner.feature
Due: none

Update the missing org name fallback message
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Remove unnecessary testing tag
  features/cpts_ui/patient_detail_banner.feature
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
