Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  fda9508db71f427a0e4d192882b22469739781a9
Due: none

Chore: [AEA-5061] - Create test for redirection logic. Minor refactoring around that. (#266)
  features/cpts_ui/change_role.feature
  features/cpts_ui/header.feature
  features/cpts_ui/home.feature
  features/cpts_ui/notfound.feature
  features/cpts_ui/select_your_role.feature
  features/cpts_ui/your_selected_role.feature
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  2117c54f4817e5a8cd11a81a5666592cc9c26823
Due: none

Notes added by 'git notes add'
  91c8291436ebc2685e23a219d37a7c8c80b1113c
Due: none

Notes added by 'git notes add'
  18a3e21d036a31799d21681560517652270414e0
Due: none

Sketch for regression tests
  features/cpts_ui/patient_detail_banner.feature
Due: none

New: [AEA-4929] - CPTS Prescription Search FHIR endpoint regression tests (#263)
  .github/workflows/regression_tests.yml
  features/cpt_api/ping.feature
  features/cpt_api/search_for_prescriptions.feature
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_api_steps.py
  methods/api/common_api_methods.py
  methods/api/cpts_api_methods.py
  methods/shared/common.py
  scripts/set_secrets.sh
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  f1b5af9c085562a5c8fe0c03532947e316fcb163
Due: none

Placeholder tests
  features/cpts_ui/patient_detail_banner.feature
  features/steps/__init__.py
  features/steps/cpts_ui/patient_details_banner.py
  pages/patient_details_banner.py
Due: run_black, run_pyright, run_flake8

finalised prescription list e2e tests
  features/cpts_ui/prescription_list.feature
  features/steps/__init__.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  pages/prescription_list_page.py
Due: run_black, run_pyright, run_flake8

chore: removes unneeded tag
  features/cpts_ui/prescription_list.feature
Due: none

improves test robustness by utilising data-testid locators
  features/steps/cpts_ui/prescription_list_steps.py
  pages/prescription_list_page.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4778] - Prescriptions list page (#272)
  features/cpts_ui/prescription_list.feature
  features/steps/__init__.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  pages/prescription_list_page.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  3da2752edd8f7f20124475449d9ac3e1840b7dfa
Due: none

capture screenshot
  features/environment.py
  features/steps/cpts_ui/rbac_banner.py
Due: run_black, run_pyright, run_flake8

really add screenshot
  features/environment.py
Due: run_black, run_pyright, run_flake8

Use proper given clause
  features/cpts_ui/change_role.feature
Due: none

revert changes
  features/steps/cpts_ui/rbac_banner.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - capture screenshot on test failure (#273)
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  748af12fd0c8ed0e79bf7efc1cf65094bd9f2424
Due: none

Fix: [AEA-0000] - Use proper given clause in change role tests (#274)
  features/cpts_ui/change_role.feature
Due: none

Notes added by 'git notes add'
  5c75a5d1b728e9f43500885298d9f0a17f733e3b
Due: none

capture trace
  features/environment.py
Due: run_black, run_pyright, run_flake8

wait for page load
  features/environment.py
  pages/change_role.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

wait for page load, and use correct test id
  pages/footer.py
  pages/header.py
  pages/home.py
  pages/logout.py
  pages/page_not_found.py
  pages/prescription_list_page.py
  pages/rbac_banner.py
  pages/search_for_a_prescription.py
  pages/select_your_role.py
  pages/your_selected_role.py
Due: run_black, run_pyright, run_flake8

different click
  features/steps/cpts_ui/change_role_steps.py
Due: run_black, run_pyright, run_flake8

fix header id
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - Capture trace on failure (#275)
  features/environment.py
  features/steps/cpts_ui/change_role_steps.py
  pages/change_role.py
  pages/footer.py
  pages/header.py
  pages/home.py
  pages/logout.py
  pages/page_not_found.py
  pages/prescription_list_page.py
  pages/rbac_banner.py
  pages/search_for_a_prescription.py
  pages/select_your_role.py
  pages/your_selected_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  18fcb60408db44801dc62760573750e6afe0868e
Due: none

Placeholder test
  features/cpts_ui/search_for_a_prescription.feature
  features/environment.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  pages/prescription_not_found.py
Due: run_black, run_pyright, run_flake8

Remove duplication of step
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Revert "Placeholder test"
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  pages/prescription_not_found.py
Due: run_black, run_pyright, run_flake8

Regenerate poetry lock file
  poetry.lock
Due: none

Revert "Regenerate poetry lock file"
  poetry.lock
Due: none

Update the environment file
  features/environment.py
Due: run_black, run_pyright, run_flake8

Add the search_for_a_prescription tests
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

Fill the input before clicking
  features/cpts_ui/prescription_list.feature
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Remove the unnecessary tag
  features/cpts_ui/prescription_list.feature
Due: none
