Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

remove hard coded dates
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - upgrade tests to work with later validator versions (#172)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .tool-versions
  Makefile
  README.md
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
  messages/eps_fhir/prescription_return.py
  messages/eps_fhir/withdraw_dispense_notification.py
Due: run_black, run_pyright, run_flake8

add sonar project properties
  sonar-project.properties
Due: none

fix England
  .github/workflows/pr-link.yml
Due: lint-githubactions

use fixed version
  .github/workflows/pr-link.yml
Due: lint-githubactions

Build: [AEA-4506] - Move to communal qc (#168)
  .github/workflows/ci.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  Makefile
  scripts/check_python_licenses.sh
  sonar-project.properties
Due: lint-githubactions

split features up into different product sections. Reworked methods and steps to work without changing any functionality when switching between EPS-FHIR or one or the split endpoints
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispenseNotification.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/dispensingEndpoint.feature
  features/eps_fhir/prescribingEndpoint.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/ping.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/ping.feature
  features/steps/eps_api_steps.py
  features/steps/eps_prescribe_dispense.py
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
  methods/api/eps_api_methods.py
  methods/api/eps_prescribe_dispense_api_methods.py
Due: run_black, run_pyright, run_flake8

attempt to exclude all code from coverage checks
  sonar-project.properties
Due: none

second attempt to exclude all code from coverage checks
  sonar-project.properties
Due: none

Third attempt to exclude all code from coverage checks
  sonar-project.properties
Due: none

Updated ticket numbers for split endpoint features
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/ping.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/ping.feature
Due: none

revert runner.py
  runner.py
Due: run_black, run_pyright, run_flake8

fix tags, and formatting of feature files
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir_dispensing/ping.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
Due: none

Upgrade: [AEA-4432] -regression tests for split eps endpoints (#169)
  .github/workflows/regression_tests.yml
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/ping.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/ping.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
  methods/api/eps_api_methods.py
  sonar-project.properties
Due: run_black, lint-githubactions, run_pyright, run_flake8

exclude messages folder from code duplication checks
  sonar-project.properties
Due: none

Update: [AEA-0000] - exclude messages folder from code duplication checks (#174)
  sonar-project.properties
Due: none

only trigger report building if there are test failures
  .github/workflows/regression_tests.yml
Due: lint-githubactions

reversed logic to only apply split endpoints when product is NOT "EPS-FHIR-DISPENSING" and "EPS-FHIR-PRESCRIBING"
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - Fix EPS Fhir URL logic (#176)
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4607] - Amendments to test report history (#175)
  .github/workflows/regression_tests.yml
Due: lint-githubactions

slight change to failure test
  features/eps_fhir/ping.feature
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

Move to communal qc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitallowed
  .github/workflows/ci.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  README.md
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/ping.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/ping.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
  messages/eps_fhir/prescription_return.py
  messages/eps_fhir/withdraw_dispense_notification.py
  methods/api/eps_api_methods.py
  package-lock.json
  package.json
  scripts/check_python_licenses.sh
  sonar-project.properties
Due: run_black, lint-githubactions, run_pyright, run_flake8

Update: [AEA-4506] - Add secret scanning (#178)
  .devcontainer/devcontainer.json
  .gitallowed
  .github/workflows/ci.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: lint-githubactions

Working test for AEA-4460
  features/cpts_ui/home_page.feature
  features/environment.py
  features/steps/home_page_steps.py
  pages/home_page.py
  pyproject.toml
Due: run_black, run_pyright, run_flake8

added CPTS-UI product to regression_tests.yml ran 'pre-commit migrate-config' as told to do so by pre-commit
  .github/workflows/regression_tests.yml
  .pre-commit-config.yaml
Due: lint-githubactions

Updated README.md
  README.md
Due: none

New: [AEA-4609] - Move UI tests into existing regression test pack (#182)
  .github/workflows/regression_tests.yml
  .pre-commit-config.yaml
  README.md
  features/cpts_ui/home_page.feature
  features/environment.py
  features/steps/home_page_steps.py
  pages/home_page.py
  pyproject.toml
Due: run_black, lint-githubactions, run_pyright, run_flake8

Dont use global node for linting
  Makefile
Due: none

added test for footer
  features/cpts_ui/home_page.feature
  features/steps/cpts_ui_home_page_steps.py
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

did the PO model better
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-4515] - Set up footer (#184)
  features/cpts_ui/home_page.feature
  features/steps/cpts_ui_home_page_steps.py
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

added git-secrets-docker-setup to make file
  Makefile
Due: none

Chore: [AEA-0000] - added git-secrets-docker-setup to make file (#185)
  Makefile
Due: none

auto bump version on merge to main
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  f16315bd203ca168682aa6eb234a20cf715fcfbb
Due: none

Fix: [AEA-0000] - auto bump version on merge to main (#187)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  765231c1f76bc2f4cc3830c8d6e8360005d52734
Due: none

added tests for the header and menu links
  features/cpts_ui/home_page.feature
  features/environment.py
  features/steps/cpts_ui_home_page_steps.py
  pages/home_page.py
Due: run_black, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
