Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Rename product
  .github/workflows/regression_tests.yml
  features/cpts_api/ping.feature
  features/environment.py
  features/steps/common_steps.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

fix variables
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Rename folder
  features/cpt_api/ping.feature
  features/environment.py
Due: run_black, run_pyright, run_flake8

Move global declaration
  features/environment.py
Due: run_black, run_pyright, run_flake8

remove global declaration
  features/environment.py
Due: run_black, run_pyright, run_flake8

skip sandbox sha tests
  features/environment.py
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
Due: run_black, run_pyright, run_flake8

fix pfp test
  features/pfp/view_prescriptions.feature
Due: none

do not run full regression on sha1
  .github/workflows/regression_tests.yml
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
Due: lint-githubactions

more trying different app
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
Due: none

Notes added by 'git notes add'
  3820371b24e8c4314f9cf428af34a5fecfccca3f
Due: none

specify app in authentication step
  features/pfp/view_prescriptions.feature
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

change the order
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Added user: MOCK_CIS2_LOGIN_ID_MULTIPLE_ACCESS_ROLES_ZERO_NO_ACCESS
  features/environment.py
Due: run_black, run_pyright, run_flake8

Rename product again
  .github/workflows/regression_tests.yml
  features/cpt_api/ping.feature
  features/environment.py
  features/steps/common_steps.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

DELETEME - testing failed test
  features/cpt_api/ping.feature
Due: none

Revert breaking test
  features/cpt_api/ping.feature
Due: none

consistent get id and secrets
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a644f35d704079fb25c6725b59591c0831f9c360
Due: none

Make test fail
  features/cpt_api/ping.feature
Due: none

Revert to working test
  features/cpt_api/ping.feature
Due: none

fix psu authenticator
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5026] - create test for signing algorithm (#242)
  .github/workflows/regression_tests.yml
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/validator.feature
  features/pfp/view_prescriptions.feature
  features/psu/send_status_update.feature
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/shared/common.py
  scripts/set_secrets.sh
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  36a17b2e38e53d62d035226fced925ea1bedb593
Due: none

re-enable validator tests
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

correct auth
  features/eps_fhir_dispensing/validator.feature
Due: none

fix typo for product
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - fix typo for product (#247)
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  dfb2e4f6ca8711b01177b1141d7b41935125a6ab
Due: none

Fix: [AEA-5029] - re-enable validator tests (#246)
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

Notes added by 'git notes add'
  dac86f39c480052802b4d73de3671d02229907eb
Due: none

New: [AEA-4945] - Create and use ping endpoint for CPTS API (#243)
  .github/workflows/regression_tests.yml
  features/cpt_api/ping.feature
  features/environment.py
  features/steps/common_steps.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  05751c9b593e8603cadd2e65ef2840fe48fce307
Due: none

Add regression tests for 404 page
  features/cpts_ui/notfound.feature
  features/steps/__init__.py
  features/steps/cpts_ui/page_not_found_steps.py
  pages/page_not_found.py
Due: run_black, run_pyright, run_flake8

Add deployment only tests
  features/cpts_ui/notfound.feature
  features/environment.py
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-4743] - Add regression tests for 404 page (#248)
  features/cpts_ui/notfound.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/page_not_found_steps.py
  pages/page_not_found.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  df331ebea70d71db86de2de5deabda9a11aa8dc8
Due: none

Fix an oversight in testing
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-4743] - I goofed the 404 page test (#249)
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  6b7434a54aed67e3c0354291df46260d6c6838a6
Due: none

Notes added by 'git notes add'
  3857de447b53527de5aa922957d9b72e3d390066
Due: none
