Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  2f2e9ca9fab1f6953cd085f49ad445945ed17d01
Due: none

fixed broken steps
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

updated route in regression test
  features/cpts_ui/select_your_role.feature
Due: none

Notes added by 'git notes add'
  488a1d9167d5c18f428a26d4063602def402f27c
Due: none

reverted changed url
  features/cpts_ui/select_your_role.feature
Due: none

Fix: [AEA-5338] - updated cards roles with access (#473)
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a973bac757242ca2b36218ecd79013864227c88a
Due: none

New: [AEA-5899] - Expand PfP coverage
  features/pfp/view_prescriptions.feature
Due: none

chore: crossplatform devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .tool-versions.asdf
  pyproject.toml
Due: none

tests: initial tests & steps
  features/eps_assist_me/call_chatbot.feature
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

use common workflows
  .github/config/settings.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
  .tool-versions.asdf
Due: lint-githubactions

Notes added by 'git notes add'
  7596aa5f277f2abfef729db7f3af0008079c235d
Due: none

Notes added by 'git notes add'
  574fefec90744f8d69542e3cc8b21ff01be3970f
Due: none

remove semantic-release
  package-lock.json
  package.json
Due: none

fix: adds logic to get the correct function name via stack exports
  features/environment.py
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

chore: add region_name
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

chore: adds aws creds to clients
  features/steps/common_steps.py
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

refactor: makes use of DescribeStack perms instead of listing all and then searching
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

refactor: makes use of DescribeStack perms instead of listing all and then searching
  features/environment.py
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

chore: calls enviornment setters
  features/environment.py
Due: run_black, run_pyright, run_flake8

chore: git logs, needs reverting
  features/environment.py
  features/steps/common_steps.py
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

chore: remove debug logs
  features/steps/common_steps.py
  features/steps/eps_assist_me_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-5875] - tests (#476)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .tool-versions.asdf
  features/environment.py
  features/eps_assist_me/call_chatbot.feature
  features/steps/common_steps.py
  features/steps/eps_assist_me_steps.py
  pyproject.toml
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  8de5cf21829dc086c524b28f0b6d332428bfdf39
Due: none

deploy: 8de5cf21829dc086c524b28f0b6d332428bfdf39
  index.html
Due: none

Notes added by 'git notes add'
  b98b3a0a70d52fb73b7aa54e1c2e8cfc84f8b42f
Due: none

Notes added by 'git notes add'
  2792cefce7b5f361e47bad162bc9227960bf6156
Due: none

use common workflows
  .github/config/settings.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  b7d770346d9e7836781378369f9f0778e651c868
Due: none

add tag release step
  .github/workflows/pull_request.yml
Due: lint-githubactions

reinstall poetry on qc
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

use a pattern
  .github/workflows/regression_tests.yml
  .releaserc
Due: lint-githubactions

use merge-multiple
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - use new common workflows (#482)
  .github/config/settings.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
  .releaserc
Due: lint-githubactions

Notes added by 'git notes add'
  9a8723e7435d2f70358af35aa4c9b837f724b805
Due: none

Notes added by 'git notes add'
  aa94de078f3254c3e1e275bc72ee7df5594d27be
Due: none

build the dev container
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix dockerfile
  .devcontainer/Dockerfile
Due: none

use latest allure
  .github/workflows/pull_request.yml
  .tool-versions
Due: lint-githubactions

Notes added by 'git notes add'
  ee261a81c73f4b53c2956b1425d3f7c4553567df
Due: none
