Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

refactor: introduce typing
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

refactor: async
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: tidy
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  42b31383fe7cc00bed48cd51e9bb0dcc42f69e1e
Due: none

Fixes
  features/pfp/view_prescriptions.feature
  features/steps/pfp_api_steps.py
  methods/api/pfp_api_methods.py
Due: run_black, run_pyright, run_flake8

passing all tests
  features/steps/cpts_ui/login_steps.py
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

[AEA-5926] removes redundant test
  features/cpts_ui/patient_detail_banner.feature
  features/steps/cpts_ui/patient_details_banner.py
  pages/patient_details_banner.py
Due: run_black, run_pyright, run_flake8

New: [AEA-5899] - Expand PfP coverage (#504)
  features/pfp/view_prescriptions.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

deploy: 83e6ea4904ed5f63a5341caf3049e239f3a17336
  index.html
Due: none

Notes added by 'git notes add'
  83e6ea4904ed5f63a5341caf3049e239f3a17336
Due: none

Fix: [AEA-5081] -header changes (#524)
  features/steps/cpts_ui/login_steps.py
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  8f4a9d89ae68fa905771520b8ec6b4ea45c44a88
Due: none

New: [AEA-6037] - Introduce PFP on Proxygen tests using a unique product ID
  .github/workflows/regression_tests.yml
  features/environment.py
  features/pfp/get_my_prescriptions.feature
  methods/shared/common.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Undo additional secrets, use PFP instead
  .github/workflows/regression_tests.yml
  methods/shared/common.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Allow 200 response on pipeline kick off
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-0000] - Allow 200 response on pipeline kick off (#527)
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  5abd78a061378f96463362b16951929677d2673d
Due: none

Remove unncessary PFP-PROXYGEN env vars
  features/environment.py
  features/pfp/get_my_prescriptions.feature
Due: run_black, run_pyright, run_flake8

New: [AEA-6037] - Introduce PFP on Proxygen tests using a unique product ID (#526)
  .github/workflows/regression_tests.yml
  features/environment.py
  features/pfp/get_my_prescriptions.feature
  methods/shared/common.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  bb11e9a05052ec05667775f2f143eb79c5a4c034
Due: none

Notes added by 'git notes add'
  7105922ea9b99491f5351da89e826ef1b4fad0fe
Due: none

Notes added by 'git notes add'
  d239a58ca09475b522e9e6bbf7ebf4737916f5c8
Due: none

Notes added by 'git notes add'
  3dc37925223f439c880133822a351fc8495d6e96
Due: none

Notes added by 'git notes add'
  685896cc0bf04d1a197078f37c24d3f1d85a17c2
Due: none

Notes added by 'git notes add'
  efcfbb39e5fe536a718033b5efadc3db7c72dc8e
Due: none

Removed unnecessary polling step now GitHub directly returns run id
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
  scripts/run_regression_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

got broken test working
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

chore: report url and status code if get scripts fails
  features/environment.py
  features/steps/pfp_api_steps.py
  methods/api/pfp_api_methods.py
  template.env
Due: run_black, run_pyright, run_flake8

updated privacy notice text
  .devcontainer/devcontainer.json
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5327] - new tabsets (#538)
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  ee573ea4e55d249a913ae0656b61df8c269109f9
Due: none

Notes added by 'git notes add'
  b68c7f4ac730b3c12b7879a705a5d1b83f4c06d3
Due: none

updated privacy notice text
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  8a8239dd5e8f74bb9045ea62f9fa9b5afdfcded9
Due: none

Notes added by 'git notes add'
  03096341c891601cee0bafd2407af231fe4868a7
Due: none

Notes added by 'git notes add'
  8d36c3576dbaf9765899210a8b94ee5b48c5ca3b
Due: none

Fix: [AEA-5402] - updated privacy notice text (#540)
  .devcontainer/devcontainer.json
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  e6cc322917926617508ec0982f47d63a9dab03dd
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
