Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Comment out tests for not implemented logic
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/common_steps.py
Due: run_black, run_pyright, run_flake8

Move the login without access step to common steps
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4655] - User has no access to CPTS (#208)
  features/cpts_ui/logout.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  f8e2010de1a53eceef1d1fd7620b17a07b13e3c0
Due: none

Half-complete work, stashed for later
  features/cpts_ui/change_role_multiple_with_access.feature
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  pages/change_role.py
Due: run_black, run_pyright, run_flake8

Re-enable logout tests. Refactor select your role tests to be compatible. Enable localhost regression tests.
  .devcontainer/devcontainer.json
  README.md
  features/cpts_ui/logout.feature
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Update: [AEA-4809] - Re-enable logout tests, and some other minor things (#215)
  .devcontainer/devcontainer.json
  README.md
  features/cpts_ui/logout.feature
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  addef58e94514d2c90ac816b2298e21a685bc62f
Due: none

fix ubuntu image
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-link.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - pin ubuntu image to 22.04 (#216)
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pr-link.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  ef9326709771919c26c13b987aab1fd6670b1899
Due: none

added tests for pre-role
  .devcontainer/devcontainer.json
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

added tests for pre-role
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Partial test coverage
  .devcontainer/devcontainer.json
  features/cpts_ui/change_role_multiple_with_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/steps/cpts_ui/change_role_steps.py
  pages/change_role.py
Due: run_black, run_pyright, run_flake8

fix tests
  README.md
  features/steps/cpts_ui/change_role_steps.py
Due: run_black, run_pyright, run_flake8

Add last couple of tests
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Remove duplicate
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Fix tests
  features/cpts_ui/logout.feature
  features/cpts_ui/select_your_role.feature
Due: none

New: [AEA-4531] - Change Role page (#217)
  .devcontainer/devcontainer.json
  README.md
  features/cpts_ui/change_role_multiple_with_access.feature
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/select_your_role.feature
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/change_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  11b236046a1bc095701205d7452bd61cc432ae56
Due: none

Update regression tests
  features/cpts_ui/header_links.feature
  features/cpts_ui/home.feature
  features/steps/__init__.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/header_links.py
Due: run_black, run_pyright, run_flake8

Fix test
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/cpts_ui/header_links.feature
  features/steps/cpts_ui/change_role_steps.py
  pages/change_role.py
Due: run_black, run_pyright, run_flake8

Remove test tag
  features/cpts_ui/header_links.feature
Due: none

Fix: [AEA-0000] - Fix header link behaviour (#218)
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/cpts_ui/header_links.feature
  features/cpts_ui/home.feature
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/change_role.py
  pages/header_links.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  800b280841137e2ff865623d4fb9110754e348e0
Due: none

add validator tests
  features/eps_fhir/validate.feature
  features/eps_fhir_dispensing/validate.feature
  features/eps_fhir_prescribing/validate.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

create prescription properly
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix tags
  features/eps_fhir_dispensing/validate.feature
  features/eps_fhir_prescribing/validate.feature
Due: none

even better tags
  features/eps_fhir/validate.feature
  features/eps_fhir_dispensing/validate.feature
  features/eps_fhir_prescribing/validate.feature
Due: none

rename files
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

more tests
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

tweak test
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

convert to int
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix actual vs expected
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

use contains
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

quotes
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none
