Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  8f4d6509caa38b3a799b13631d0571904c2034bd
Due: none

fixed broken regression tests
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Update: [AEA-5314] - security issue allowing unauthorised access via browser back button after logout (#424)
  features/cpts_ui/logout.feature
  features/steps/common_steps.py
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  5d53e89afa525cc9f2591b6d3387c704ad29ca2e
Due: none

deploy: 5d53e89afa525cc9f2591b6d3387c704ad29ca2e
  index.html
Due: none

Fix: [AEA-5613] - bug fix psu status not showing (#432)
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  bc218e0a15cd98eba7c002fc5b182a60e68777d2
Due: none

Update: [AEA-5407] - Redirection Issues when no role selected (#428)
  features/cpts_ui/select_your_role.feature
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  03d622efcc85632343ea6be7a2861ff8f7b86006
Due: none

deploy: 03d622efcc85632343ea6be7a2861ff8f7b86006
  index.html
Due: none

Notes added by 'git notes add'
  2e02e5b8614a53c89d62f8a18c262a430a0299af
Due: none

Notes added by 'git notes add'
  d95d31cf9969cafdb375651d300dc1c17d7f0f33
Due: none

Notes added by 'git notes add'
  6cb193441debe88188e5e0f2e25904706030b16b
Due: none

Cleanup of playwright management code
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  89e6b6c291454a83b7d9666a088683a24dc07640
Due: none

Add requirements for dev container to be compatible on mac
  .devcontainer/Dockerfile
Due: none

Fix: [AEA-0000] - Don't attempt to go back twice as we only redirect to logout once
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - Don't attempt to go back twice as we only redirect to logout once (#438)
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  7e4156d10cbb0737e8079c2214b86a11e3162f58
Due: none

Notes added by 'git notes add'
  cdab6148634b1fc5b02b8ff7aaf8988fcc78d8b5
Due: none

Introduce active browser and page context
  features/cpts_ui/concurrent_sessions.feature
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_ui/basic_details_search_results_steps.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/cookie_steps.py
  features/steps/cpts_ui/footer_steps.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/page_not_found_steps.py
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/patient_not_found_steps.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  features/steps/cpts_ui/privacy_notice_steps.py
  features/steps/cpts_ui/rbac_banner.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/search_results_too_many_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/unknown_error_message_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Correct environment contexts
  features/cpts_ui/concurrent_sessions.feature
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Fix page context
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Some working scenarios - Working trace output
  features/cpts_ui/concurrent_sessions.feature
  features/cpts_ui/timeout_sessions.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/common_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/session_timeout_steps.py
  pages/session_logged_out.py
  pages/session_selection.py
Due: run_black, run_pyright, run_flake8

Fix step
  features/cpts_ui/concurrent_sessions.feature
  features/steps/cpts_ui/concurrent_sessions_steps.py
Due: run_black, run_pyright, run_flake8

Working concurrent tests. Work needed for timeout. No 401 from tracker user info
  features/cpts_ui/concurrent_sessions.feature
  features/cpts_ui/timeout_sessions.feature
  features/environment.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/session_timeout_steps.py
  pages/session_logged_out.py
Due: run_black, run_pyright, run_flake8

Working scenarios
  features/cpts_ui/concurrent_sessions.feature
  features/steps/common_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/session_timeout_steps.py
Due: run_black, run_pyright, run_flake8

Modify workflow to create seperate concurrency flow - block concurrency running if arguement not supplied
  .github/workflows/regression_tests.yml
  features/cpts_ui/concurrent_sessions.feature
  features/environment.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Replace original pipeline as that will be ok. Split will run on account
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Add multiple_access scenario for role selection not showing. Re-arrange funcs for clarity
  features/cpts_ui/concurrent_sessions.feature
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/rbac_banner.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Clean up environment file
  features/environment.py
Due: run_black, run_pyright, run_flake8

Test adjustments and tag protections
  README.md
  features/cpts_ui/concurrent_sessions.feature
  features/cpts_ui/timeout_sessions.feature
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/session_timeout_steps.py
Due: run_black, run_pyright, run_flake8

Adjust protections
  features/cpts_ui/concurrent_sessions.feature
  features/steps/common_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  02ecca8b1266b375b0bc0fb6cc9ecce17d02a786
Due: none

Notes added by 'git notes add'
  df8358a04972afe12ab004d20d88a869892a2d76
Due: none

Notes added by 'git notes add'
  bfc98436c0d84798024439398efa9b4a4134a01a
Due: none

fix makefile so python installed before poetry
  Makefile
Due: none

Notes added by 'git notes add'
  532c24cb02f095918d568049d5de2d3bca24cfbd
Due: none

Notes added by 'git notes add'
  4b5dae4d96c62ee1f2e422fb895fc753af31691b
Due: none

Notes added by 'git notes add'
  762c734913de627e2ccdeefe715f556edc291e2e
Due: none
