Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  90f1f6f785a1882bf0522016ba824c442303809b
Due: none

Test fixes
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Update test for a cancelled prescription
  features/cpts_ui/prescription_detail.feature
Due: none

Update current tab test
  features/cpts_ui/prescription_list.feature
Due: none

Amend the display past prescription result table test
  features/cpts_ui/prescription_list.feature
Due: none

Notes added by 'git notes add'
  f00a28267514c7c5c1b0e90dea5ba05cd49fb72e
Due: none

Fix: [AEA-5418] - no patient details on banner pl page (#376)
  features/cpts_ui/patient_detail_banner.feature
Due: none

Notes added by 'git notes add'
  14ce4e7ae5f5686696e692a7645969561580bf56
Due: none

Reverse changes
  features/cpts_ui/patient_detail_banner.feature
Due: none

skip rum cookie test
  features/cpts_ui/cookie.feature
Due: none

Fix: [AEA-0000] - skip rum cookie test (#379)
  features/cpts_ui/cookie.feature
Due: none

Notes added by 'git notes add'
  44150adf815c7bf641ce1cfeb97d04a30db51b00
Due: none

Fix: [AEA-5422] - Dispensed and Cancelled Prescriptions shown in wrong prescription list tab (#377)
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_list.feature
Due: none

Notes added by 'git notes add'
  aaaef955e76c8490d79e2e9960f21cfb846c2112
Due: none

New: [AEA-5481] - Additional tests for AEA-5481 redirect rules (#370)
  .github/workflows/regression_tests.yml
  Makefile
  README.md
  features/cpts_ui/notfound.feature
  features/environment.py
  features/steps/cpts_ui/page_not_found_steps.py
  methods/shared/common.py
  runner.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  0764cf5afb7f217c105abb2881fcdf87bcef9c89
Due: none

deploy: 0764cf5afb7f217c105abb2881fcdf87bcef9c89
  index.html
Due: none

Notes added by 'git notes add'
  5aeb7e0e0eef00de70583048ee8e3688b03aa207
Due: none

start of parallel
  .github/workflows/regression_tests.yml
  runner.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

fix install
  .github/workflows/regression_tests.yml
Due: lint-githubactions

fix runner
  runner.py
Due: run_black, run_pyright, run_flake8

fail test
  features/cpts_ui/cookie.feature
Due: none

force exit on failure
  .github/workflows/regression_tests.yml
Due: lint-githubactions

debug failures
  .github/workflows/regression_tests.yml
Due: lint-githubactions

always do install
  .github/workflows/regression_tests.yml
Due: lint-githubactions

do not continue on error
  .github/workflows/regression_tests.yml
Due: lint-githubactions

make it work
  features/cpts_ui/cookie.feature
Due: none

enter the matrix
  .github/workflows/regression_tests.yml
Due: lint-githubactions

more debug
  .github/workflows/regression_tests.yml
Due: lint-githubactions

mkdir
  .github/workflows/regression_tests.yml
Due: lint-githubactions

extract stuff correctly
  .github/workflows/regression_tests.yml
Due: lint-githubactions

force a failure
  features/cpts_ui/cookie.feature
Due: none

fix folder name
  .github/workflows/regression_tests.yml
Due: lint-githubactions

split test
  .github/workflows/regression_tests.yml
  runner.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

tag the test
  features/cpts_ui/cookie.feature
Due: none

wait for jobs
  .github/workflows/regression_tests.yml
Due: lint-githubactions

do not fail fast
  .github/workflows/regression_tests.yml
Due: lint-githubactions
