Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

fix check
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix message
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

quotes
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

diagnostic
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

full text
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

back to contain
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix return code
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

fix getting the url
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

more tests
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

added tests for pre-role-selected
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Add regression tests for confirm role page
  features/cpts_ui/confirm_your_role.feature
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/confirm_role_steps.py
  pages/confirm_role.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4985] - add validator tests (#219)
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a021ef07bd0f33afa1671cd8a49a8124085339cf
Due: none

Defend against setting PR ID and localhost at the same time
  README.md
  features/environment.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4537] - Add regression tests for confirm role page (#221)
  README.md
  features/cpts_ui/confirm_your_role.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/confirm_role_steps.py
  pages/confirm_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  9821bc3f2385d32ad4405a3bdc4442a95f4a7670
Due: none

trigger build
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

trigger build
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

tests all working
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4645] - add pre role tests (#220)
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  da692237bc3ee295b8ab931b28c633b5c8d26ae9
Due: none

Mostly working tests
  features/cpts_ui/confirm_your_role.feature
  features/cpts_ui/home.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/steps/__init__.py
  features/steps/cpts_ui/rbac_banner.py
  pages/rbac_banner.py
Due: run_black, run_pyright, run_flake8

comment out broken functionality
  features/cpts_ui/confirm_your_role.feature
Due: none

Fix regex
  pages/rbac_banner.py
Due: run_black, run_pyright, run_flake8

better validator tests
  features/eps_fhir/validator.feature
  features/steps/eps_api_steps.py
  messages/examples/missing_dosage_instructions/request.json
  messages/examples/missing_dosage_instructions/response.json
Due: run_black, run_pyright, run_flake8

Rename a test to a when
  features/cpts_ui/confirm_your_role.feature
  features/cpts_ui/header_links.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/confirm_role_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

fix runner
  runner.py
Due: run_black, run_pyright, run_flake8

revert change
  runner.py
Due: run_black, run_pyright, run_flake8

fix path
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

correct json diff
  .gitignore
  features/steps/eps_api_steps.py
  poetry.lock
  pyproject.toml
Due: run_black, run_pyright, run_flake8

remove poetry.lock again
  poetry.lock
Due: none

revert gitignore changes
  .gitignore
Due: none

Refactor in line with sean comments
  features/cpts_ui/header_links.feature
  features/cpts_ui/home.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/confirm_role_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

get poetry.lock
  .github/workflows/regression_tests.yml
  pyproject.toml
Due: lint-githubactions

really check things
  .github/workflows/regression_tests.yml
Due: lint-githubactions

install pycml in script
  .github/workflows/regression_tests.yml
Due: lint-githubactions

use lock file
  .github/workflows/regression_tests.yml
  .gitignore
  poetry.lock
  pyproject.toml
Due: lint-githubactions

fix poetry.lock
  poetry.lock
Due: none
