Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Remove URL wchecks
  README.md
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/change_role.py
  pages/select_your_role.py
  pages/your_selected_role.py
Due: run_black, run_pyright, run_flake8

fix tests
  features/steps/cpts_ui/select_your_role_steps.py
  pages/confirm_role.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Add the test user 555043303526 and test user descriptions
  features/environment.py
Due: run_black, run_pyright, run_flake8

Consolidate confirm role and your selected role classes. Remove URL checks
  features/steps/__init__.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  pages/confirm_role.py
  pages/home.py
  pages/rbac_banner.py
  pages/your_selected_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  594ecd4d3149e8fef505bd93edbe897c4e31d6c7
Due: none

Update naming convention
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Fix naming
  features/cpts_ui/confirm_your_role.feature
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Rename feature file
  features/cpts_ui/your_selected_role.feature
Due: none

Fix: [AEA-0000] - Move to use axios (#224)
  README.md
  features/cpts_ui/your_selected_role.feature
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/confirm_role_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  pages/change_role.py
  pages/home.py
  pages/rbac_banner.py
  pages/select_your_role.py
  pages/your_selected_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  bb2b325fffda27230c9b6b6e1b18227692eec96f
Due: none

Add scenarios for for a user with one role with access and multiple roles without access
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/environment.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
Due: run_black, run_pyright, run_flake8

Add the step to confirm the user cannot see the no access message
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Fix the typo
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
Due: none

Correct the syntax of the test
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/steps/cpts_ui/change_role_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-4974] - Change role page shows 'No Access' if the 1 role with access is 'selected' (#239)
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/environment.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  d553e31bd918f55bd2d77e88b2a33360b4d9be52
Due: none

Big refactor of tests for CPT-UI
  .flake8
  features/cpts_ui/change_role.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/cpts_ui/header.feature
  features/cpts_ui/home.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/cpts_ui/your_selected_role.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/confirm_role_steps.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/footer.py
  pages/header.py
Due: run_black, run_pyright, run_flake8

commented out assertion of Scenario: user sees a menu with links when the screen size is small until AEA-4996 is fixed consolidated change_role tests into 1 feature
  features/cpts_ui/select_your_role.feature
Due: none

commented out assertion of Scenario: user sees a menu with links when the screen size is small until AEA-4996 is fixed consolidated change_role tests into 1 feature
  features/cpts_ui/change_role.feature
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/cpts_ui/header.feature
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

slight changes to make the BDD better for select your role page
  features/cpts_ui/header.feature
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Tweak tests
  features/cpts_ui/change_role.feature
  features/cpts_ui/your_selected_role.feature
  features/steps/cpts_ui/your_selected_role_steps.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-4518] - Setup-Search-Tab-and-Content-Panel (#226)
  .flake8
  features/cpts_ui/change_role.feature
  features/cpts_ui/change_role_multiple_with_access.feature
  features/cpts_ui/change_role_no_access.feature
  features/cpts_ui/change_role_one_with_access.feature
  features/cpts_ui/change_role_one_with_access_multiple_witthout.feature
  features/cpts_ui/header.feature
  features/cpts_ui/home.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/cpts_ui/your_selected_role.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  pages/change_role.py
  pages/footer.py
  pages/header.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  5919606b6113284137a2676b80639773e1a294ac
Due: none

Notes added by 'git notes add'
  e9036ad0e086b828561eb3a638d3225b18443b4d
Due: none

specify product for fhir apis
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/dispense_prescriptions.feature
  features/eps_fhir/return_prescriptions.feature
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  features/eps_fhir_dispensing/return_prescriptions.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/validator.feature
  features/pfp/view_prescriptions.feature
  features/psu/send_status_update.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

fix checks
  features/environment.py
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/validator.feature
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

show input tags
  .github/workflows/regression_tests.yml
Due: lint-githubactions

tests for signing algorithm
  .github/workflows/regression_tests.yml
  features/environment.py
  features/eps_fhir/create_prescriptions.feature
  features/steps/eps_api_steps.py
  methods/shared/common.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

tweaks
  .github/workflows/regression_tests.yml
  features/eps_fhir/create_prescriptions.feature
Due: lint-githubactions

fix
  features/eps_fhir/create_prescriptions.feature
Due: none

fix outline
  features/eps_fhir/create_prescriptions.feature
Due: none

fix it
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

more tests
  features/eps_fhir_prescribing/create_prescriptions.feature
Due: none

put then in correct place
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

add new secrets
  features/environment.py
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/validator.feature
  features/eps_fhir_dispensing/validator.feature
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/eps_fhir_prescribing/create_prescriptions.feature
  features/eps_fhir_prescribing/validator.feature
  features/steps/eps_api_steps.py
  scripts/set_secrets.sh
Due: run_black, run_pyright, run_flake8

fix step
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix wording. Also fix after_scenario?
  features/cpts_api/ping.feature
  features/environment.py
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

Add cpts-api to regression test workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
