Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Notes added by 'git notes add'
  c20c3bb148c412c6cf14f9f3a9b6060ba118a3b6
Due: none

Notes added by 'git notes add'
  9768e57ada19dce49f960eacdaecfb78b6773c89
Due: none

Fix: [AEA-5721] - Create concurrency & timeout UI protection tests scenarios (#436)
  .github/workflows/regression_tests.yml
  README.md
  features/cpts_ui/concurrent_sessions.feature
  features/cpts_ui/timeout_sessions.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/common_steps.py
  features/steps/cpts_ui/basic_details_search_results_steps.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/cookie_steps.py
  features/steps/cpts_ui/footer_steps.py
  features/steps/cpts_ui/header_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/page_not_found_steps.py
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/patient_not_found_steps.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  features/steps/cpts_ui/privacy_notice_steps.py
  features/steps/cpts_ui/rbac_banner.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/search_results_too_many_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/session_timeout_steps.py
  features/steps/cpts_ui/unknown_error_message_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  pages/session_logged_out.py
  pages/session_selection.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  e454e36b546da434b1318acfad9f18bd06eff23c
Due: none

deploy: e454e36b546da434b1318acfad9f18bd06eff23c
  index.html
Due: none

add assume role for eps-assist-me
  .github/workflows/regression_tests.yml
  features/environment.py
  features/eps_assist_me/call_chatbot.feature
  features/steps/common_steps.py
  methods/shared/common.py
  poetry.lock
  pyproject.toml
Due: run_black, lint-githubactions, run_pyright, run_flake8

fix test
  features/eps_assist_me/call_chatbot.feature
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

fix it
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

add var to workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

more permissions
  .gitallowed
  .github/workflows/regression_tests.yml
Due: lint-githubactions

update gitsecrets
  .gitallowed
Due: none

Fix: [AEA-0000] - update gitsecrets (#452)
  .gitallowed
Due: none

Notes added by 'git notes add'
  4cfd2e21c7d8f5c224ea77fd0493ebc6f78c89f5
Due: none

debug
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

add audienc
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

fix tag
  features/eps_assist_me/call_chatbot.feature
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

[AEA-0000] fixing typo in timeout test step
  features/cpts_ui/timeout_sessions.feature
Due: none

Fix: [AEA-0000] - fixing typo in timeout test step (#453)
  features/cpts_ui/timeout_sessions.feature
Due: none

Notes added by 'git notes add'
  225ebdf8cfc6062a677163733c96a214e163ba7d
Due: none

Fix: [AEA-5870] - step for aws assume aws role (#451)
  .github/workflows/regression_tests.yml
  Makefile
  features/environment.py
  features/eps_assist_me/call_chatbot.feature
  features/steps/common_steps.py
  methods/shared/common.py
  poetry.lock
  pyproject.toml
Due: run_black, lint-githubactions, run_pyright, run_flake8

deploy: a5acf3e2d4e91f2f0af7ddd97162aad613e1714c
  index.html
Due: none

Notes added by 'git notes add'
  fe2963af970a70b8234cad4723b0f13a3bbc5704
Due: none

Modify EPS Assist Me deployment pipeline to run regression tests
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Replace configure-aws-credentials@v4 with its full commit SHA hash
  .github/workflows/regression_tests.yml
Due: lint-githubactions

debug
  .github/workflows/regression_tests.yml
Due: lint-githubactions

use new download location
  .github/workflows/regression_tests.yml
Due: lint-githubactions

call regression test from pr
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

fix path
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix env
  .github/workflows/pull_request.yml
Due: lint-githubactions

remove unused check pr title
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

only get token if we need to
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix rsync with new download location with @download-artifact@v5 (#455)
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  7dceb31119d0ec266af406d78cdfc60460ea515e
Due: none

Notes added by 'git notes add'
  d68db5ed24e961f0b96c9f760b76978da6786c2e
Due: none

Notes added by 'git notes add'
  834b0333b1f38ae698d9c07af3983fd5f979c197
Due: none

Notes added by 'git notes add'
  b9d82ba454df5d7dcd63f6f210f7252d4ce3c719
Due: none

Notes added by 'git notes add'
  af21a415aacd793beb3a975c26aedf040c280086
Due: none

Notes added by 'git notes add'
  27cc460d19ab125d35d172277c0547fec877ac55
Due: none

Notes added by 'git notes add'
  142b5d1df5f2ea25dfd750b7942abac29b0220ab
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
