Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Fix: [AEA-6146] - Set PFP proxygen path (#577)
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  4fcd527931a3c0c9e3e2dcf9cacfa0f1b97b7127
Due: none

wip: delegated access test
  features/pfp/get_prescriptions_via_delegated_access.feature
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

docs: where to find secrets
  template.env
Due: none

test: assert service search has provided pharmacy address
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
  .github/workflows/uptime_monitor.yml
  .tool-versions
  README.md
  features/cpts_ui/logout.feature
  features/cpts_ui/patient_detail_banner.feature
  features/environment.py
  features/pfp/get_prescriptions.feature
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/privacy_notice_text.py
  features/steps/pfp_api_steps.py
  methods/api/pfp_api_methods.py
  package-lock.json
  package.json
  pages/logout.py
  pages/patient_details_banner.py
  poetry.lock
  pyproject.toml
  runner.py
  scripts/add_pr_product_to_app.py
  scripts/run_uptime_monitor.py
  template.env
Due: run_black, lint-githubactions, run_pyright, run_flake8

chore: fix trivy-identified vulnerability
  .tool-versions
  poetry.lock
  pyproject.toml
Due: none

chore: bump pre-commit to run on python 3.13
  .pre-commit-config.yaml
Due: none

chore: remove darwin lock file
  package-lock.json
Due: none

chore: revert british dict due to lic
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  62b9df726a26a43ab5f9f0d7d3fafb0712b7c912
Due: none

Notes added by 'git notes add'
  d6eaffb1a466c39115ac626d78490a2b9ac3df14
Due: none

chore: bump numpy to 2.4.1 (avoid yanked vsn)
  poetry.lock
  pyproject.toml
Due: none

Notes added by 'git notes add'
  d9cfa0387c4777413ea934d8ea1542ad186d8675
Due: none

Notes added by 'git notes add'
  57d3e985d4c88c7689f4c3af4546b6a5c767518b
Due: none

Notes added by 'git notes add'
  c327a88c3b29c8e94c8ce6820d8a4fff46ff572d
Due: none

Chore: [AEA-5176] - test service search (#578)
  .pre-commit-config.yaml
  .tool-versions
  features/environment.py
  features/steps/pfp_api_steps.py
  methods/api/pfp_api_methods.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  template.env
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  abfc8ba85e1156798072774bdab0f40680ba476e
Due: none

placeholder test with skip
  features/pfp/view_prescriptions.feature
Due: none

wip: test notify
  features/psu/send_status_update.feature
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

adds only-dev tag
  features/environment.py
  features/pfp/view_prescriptions.feature
Due: run_black, run_pyright, run_flake8

Adjust PR addition script to work with the new API product name convention
  features/environment.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/rbac_banner.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  features/steps/eps_api_steps.py
  features/steps/eps_assist_me_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  scripts/add_pr_product_to_app.py
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Adjust product naming for newer proxygen api naming.
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-6146] - Adjust PFP-Proxygen API Product naming (#591)
  features/environment.py
  features/steps/cpts_ui/change_role_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/rbac_banner.py
  features/steps/cpts_ui/select_your_role_steps.py
  features/steps/cpts_ui/your_selected_role_steps.py
  features/steps/eps_api_steps.py
  features/steps/eps_assist_me_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  scripts/add_pr_product_to_app.py
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  1236e54e47abfa5d7030d86ea37eddc4c3e12e76
Due: none

test: distance selling
  features/pfp/view_prescriptions.feature
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-5976] - additional test of distance selling and service search (#592)
  features/pfp/view_prescriptions.feature
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

add trivy ignore for tar
  .trivyignore.yaml
  trivy.yaml
Due: none

Chore: [AEA-0000] - add trivy ignore for tar (#593)
  .trivyignore.yaml
  trivy.yaml
Due: none

Notes added by 'git notes add'
  326c8cc7aa0dec322c7b9a409c93cb74dbd53b3b
Due: none

test: expand psu test to 2 updates
  features/psu/send_status_update.feature
  features/steps/psu_api_steps.py
  methods/api/psu_api_methods.py
Due: run_black, run_pyright, run_flake8

test: 3 coding stages
  features/psu/send_status_update.feature
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5935] - privacy notice (#579)
  features/steps/cpts_ui/privacy_notice_text.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  bdd74ac527c808af99f508196f59276fb1901c75
Due: none

test: e2e psu test with updates
  features/psu/send_status_update.feature
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/api/pfp_api_methods.py
Due: run_black, run_pyright, run_flake8

Update features/steps/pfp_api_steps.py
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a2f14f76095fbf4919cfa8b1e3cfd56cfd0b08aa
Due: none

Notes added by 'git notes add'
  8bc75d4254984d8782f61e490ce35d1d27e38d46
Due: none

Notes added by 'git notes add'
  529a98d1f9c8ef5c672c503c9becaf92a8876520
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
