Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Add the regression tests for the feedback link
  features/cpts_ui/header.feature
  features/steps/cpts_ui/header_steps.py
  pages/header.py
Due: run_black, run_pyright, run_flake8

Refactor the code
  features/cpts_ui/header.feature
Due: none

added steps to release.yml to output bdd steps and publish to gh pages
  .github/workflows/release.yml
Due: lint-githubactions

changed the behave command to go through poetry
  .github/workflows/release.yml
Due: lint-githubactions

New: [AEA-5261] - Publish a catalogue of the BDD used in the regression test pack (#314)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  920728cb0fc27cffcdfe53229e2813cad647df6b
Due: none

New: [AEA-4811] - CPTS: Feedback Qualtrics Link (MVP) (#311)
  features/cpts_ui/header.feature
  features/steps/cpts_ui/header_steps.py
  pages/header.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  ea06ffe492b306f84073bf6dad2e968fe686c372
Due: none

# Disable history expansion to prevent !DOCTYPE error
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-5261] - publish a catalogue of the bdd used (#315)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  17bbd6094b7790aec96244763b05946ae59ecd9a
Due: none

slight fix to the token
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-5261] - publish a catalogue of the bdd used (#316)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  7e7970fa3d49eb2a3a1394b9fa23113b9b5a0dd9
Due: none

deploy: 7e7970fa3d49eb2a3a1394b9fa23113b9b5a0dd9
  .nojekyll
  index.html
Due: none

feat: test scenarios
  features/cpts_ui/basic_details_search_results.feature
  features/steps/__init__.py
  features/steps/cpts_ui/basic_details_search_results_steps.py
  package-lock.json
  pages/basic_details_search_results.py
  poetry.lock
Due: run_black, run_pyright, run_flake8

Revert "feat: test scenarios"
  features/cpts_ui/basic_details_search_results.feature
  features/steps/__init__.py
  features/steps/cpts_ui/basic_details_search_results_steps.py
  package-lock.json
  pages/basic_details_search_results.py
  poetry.lock
Due: run_black, run_pyright, run_flake8

New: [AEA-4793] - prescriptions list results table (#305)
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_list.feature
  features/steps/cpts_ui/patient_details_banner.py
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  c8f1a547edcea0f02c65f0a50d57fe4c5c4aff34
Due: none

deploy: c8f1a547edcea0f02c65f0a50d57fe4c5c4aff34
  index.html
Due: none

first commit
  features/cpts_ui/cookie_banner.feature
Due: none

Updates to make commands to allow for easier installation, and re-installation
  Makefile
  README.md
Due: none

New: [AEA-5346] - Documentation (#321)
  Makefile
  README.md
Due: none

Notes added by 'git notes add'
  af59ae7a64de942d5ea88eb6cbbca04a3a9e6db4
Due: none

refactor: minor changes to align with the new changes in ui
  features/cpts_ui/basic_details_search_results.feature
  features/steps/cpts_ui/basic_details_search_results_steps.py
  pages/basic_details_search_results.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4790] - multiple patients results for basic details search (#318)
  features/cpts_ui/basic_details_search_results.feature
  features/steps/__init__.py
  features/steps/cpts_ui/basic_details_search_results_steps.py
  package-lock.json
  pages/basic_details_search_results.py
  poetry.lock
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  b40a2e52a58108e05f1d7be67780f2d67bb6859f
Due: none

deploy: b40a2e52a58108e05f1d7be67780f2d67bb6859f
  index.html
Due: none

Add tests for the basic details search
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Update the patient search results page test comment
  features/cpts_ui/search_for_a_prescription.feature
Due: none

Notes added by 'git notes add'
  0f031780f9a58317556e225c252f825e26c60d7f
Due: none

Refactor the code
  features/cpts_ui/search_for_a_prescription.feature
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
