Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

do not error on no tests
  features/environment.py
Due: run_black, run_pyright, run_flake8

do not error on no results
  .github/workflows/regression_tests.yml
Due: lint-githubactions

better comments
  .github/workflows/regression_tests.yml
  features/cpts_ui/cookie.feature
Due: lint-githubactions

tag everything
  .github/workflows/regression_tests.yml
  features/cpts_ui/basic_details_search_results.feature
  features/cpts_ui/change_role.feature
  features/cpts_ui/cookie.feature
  features/cpts_ui/header.feature
  features/cpts_ui/logout.feature
  features/cpts_ui/notfound.feature
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/search_results_too_many.feature
  features/cpts_ui/select_your_role.feature
  features/cpts_ui/your_selected_role.feature
  features/environment.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

fix it
  features/cpts_ui/basic_details_search_results.feature
Due: none

add check for test
  features/cpts_ui/change_role.feature
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix check tags
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

no config
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

debug
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix check
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

really fix it
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

tostr
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix debug
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

remove not
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

remove debug
  features/cpts_ui/change_role.feature
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

error on cancelled or skipped
  .github/workflows/regression_tests.yml
Due: lint-githubactions

remeve debug
  .github/workflows/regression_tests.yml
Due: lint-githubactions

try and spread the test
  features/cpts_ui/patient_detail_banner.feature
  features/cpts_ui/prescription_detail.feature
Due: none

do not need to do full clone
  .github/workflows/regression_tests.yml
Due: lint-githubactions

no need to checkout
  .github/workflows/regression_tests.yml
Due: lint-githubactions

tidy things up
  .github/workflows/regression_tests.yml
Due: lint-githubactions

confirm it
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix test
  features/cpts_ui/patient_detail_banner.feature
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

bob
  features/cpts_ui/prescription_detail.feature
Due: none

sue
  features/cpts_ui/patient_detail_banner.feature
Due: none

only click the button in qa
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix tests for login page not there anymore
  features/cpts_ui/cookie.feature
  features/cpts_ui/footer.feature
  features/cpts_ui/home.feature
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/privacy_notice_steps.py
Due: run_black, run_pyright, run_flake8

fix privacy notice test
  features/cpts_ui/privacy_notice.feature
Due: none

fix environment
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

fix privacy notice test
  features/steps/cpts_ui/privacy_notice_steps.py
Due: run_black, run_pyright, run_flake8

fix auth for pfp
  features/pfp/view_prescriptions.feature
Due: none

correct app name
  features/cpts_api/get_prescription.feature
  features/cpts_api/search_for_prescriptions.feature
Due: none

tweaks following review
  features/cpts_ui/home.feature
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

add run_regression_test script
  .gitallowed
  scripts/run_regression_tests.py
Due: run_black, run_pyright, run_flake8

update gitallowed
  .gitallowed
Due: none

Fix: [AEA-0000] - update gitallowed (#384)
  .gitallowed
Due: none

Notes added by 'git notes add'
  b884c9aa976ec1b32be5f1859d2a62ad5592115e
Due: none

Fix: [AEA-5510] - only click the login button in qa (#383)
  features/cpts_ui/cookie.feature
  features/cpts_ui/footer.feature
  features/cpts_ui/home.feature
  features/cpts_ui/privacy_notice.feature
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/privacy_notice_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  690025621db5d3da0c9f2acccd6392933062f0b5
Due: none

deploy: 690025621db5d3da0c9f2acccd6392933062f0b5
  index.html
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
