Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
      - id: run_black
        name: black
        entry: poetry run black .
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run_pyright
        name: pyright
        entry: poetry run pyright
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: run_flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "${LOCAL_WORKSPACE_FOLDER:-$(pwd)}:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, pre-commit]

Regression test for application-restricted access to the release endpoitn
  features/environment.py
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Update trivy ignore with new tar cve
  .trivyignore.yaml
Due: none

I beleive this sets the secret values correctly - but they'll need to be set upstream before they work
  .github/workflows/regression_tests.yml
  .github/workflows/uptime_monitor.yml
  scripts/set_secrets.sh
Due: lint-githubactions

Add to template env
  template.env
Due: none

Use the existing dispensing apps
  features/environment.py
  methods/shared/common.py
  scripts/set_secrets.sh
  template.env
Due: run_black, run_pyright, run_flake8

Remove JWT client ID, and reuse regular dispensing one
  .github/workflows/regression_tests.yml
  .github/workflows/uptime_monitor.yml
Due: lint-githubactions

Add level3 to PRs
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Update trivy
  .trivyignore.yaml
Due: none

fix: eRD coding to match latest FHIR
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

fix: validator has warnings now info
  features/eps_fhir_dispensing/validator.feature
Due: none

Add another tar cve
  .trivyignore.yaml
Due: none

Chore: [AEA-0000] - Update trivy with CVE-2026-26996 (#626)
  .trivyignore.yaml
Due: none

deploy: 8ee2cd4dbdb4ba750e2ae6e43a7051c5da5f8d00
  release_notes/v3.8.41.md
Due: none

Notes added by 'git notes add'
  8ee2cd4dbdb4ba750e2ae6e43a7051c5da5f8d00
Due: none

chore: tmp debug, remember to revert!
  features/eps_fhir_dispensing/validator.feature
  features/steps/eps_api_steps.py
  methods/shared/common.py
  runner.py
Due: run_black, run_pyright, run_flake8

record where secrets are
  template.env
Due: none

Update tag wording
  features/eps_fhir_dispensing/dispense_prescriptions.feature
Due: none

Add a test to check for performer data in subsequent cancellation requests
  features/eps_fhir_prescribing/cancel_prescriptions.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  20d412bc0cb84148ccb8cb06b19e1949daff41ef
Due: none

Notes added by 'git notes add'
  7ecd183e2c3899644f178fc72165c1e7f9824e33
Due: none

Notes added by 'git notes add'
  55c4a9b884b17f47de3c009d46f2fd6ebe00973d
Due: none

Notes added by 'git notes add'
  f02f83ea2753277685344bc50dfe5c00fa8eafcf
Due: none

Chore: [AEA-0000] - fix behave's override to logging (#604)
  features/environment.py
Due: run_black, run_pyright, run_flake8

deploy: d01f57e5ef4b64ec034b0d2a536586990ef66cea
  release_notes/v3.8.46.md
Due: none

Notes added by 'git notes add'
  d01f57e5ef4b64ec034b0d2a536586990ef66cea
Due: none

Revert "chore: tmp debug, remember to revert!"
  features/eps_fhir_dispensing/validator.feature
  features/steps/eps_api_steps.py
  methods/shared/common.py
  runner.py
Due: run_black, run_pyright, run_flake8

Revert "fix(fhir): category needs to be referenced by http only"
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

deploy: c014b6bf4ed4c74507ce41c3a82df59c08c3358b
  release_notes/v3.8.47.md
Due: none

Notes added by 'git notes add'
  c014b6bf4ed4c74507ce41c3a82df59c08c3358b
Due: none

Switch to new paths for prescription ID and NHS number
  features/cpts_ui/logout.feature
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/concurrent_sessions_steps.py
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/api/psu_api_methods.py
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

New: [AEA-6097] - Regression test for application-restricted access to release endpoint (#625)
  .github/workflows/regression_tests.yml
  .github/workflows/uptime_monitor.yml
  features/environment.py
  features/eps_fhir_dispensing/dispense_prescriptions.feature
  methods/shared/common.py
  scripts/add_pr_product_to_app.py
  scripts/set_secrets.sh
  template.env
Due: run_black, lint-githubactions, run_pyright, run_flake8

deploy: 620484e6808b39415464dba25b7b71cc730ed54e
  release_notes/v3.8.48.md
Due: none

Notes added by 'git notes add'
  620484e6808b39415464dba25b7b71cc730ed54e
Due: none

fix: update test for latest validator
  features/eps_fhir/validator.feature
  features/eps_fhir_prescribing/validator.feature
Due: none

working version on non paramterised
  features/cpts_ui/timeout_sessions.feature
  features/steps/cpts_ui/session_timeout_steps.py
  pages/session_timeout_modal.py
Due: run_black, run_pyright, run_flake8

passing
  features/steps/cpts_ui/session_timeout_steps.py
Due: run_black, run_pyright, run_flake8

chore: default logging to info, with env var override
  features/environment.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/api/psu_api_methods.py
  methods/shared/common.py
  runner.py
  template.env
Due: run_black, run_pyright, run_flake8

Sha1 prescribing product was getting dispensing permissions
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/api/psu_api_methods.py
  methods/shared/common.py
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Api product was still incorrect
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8
