Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Notes added by 'git notes add'
  33b56b4c8d8fca1e334af98b1810fd884f87f23e
Due: none

Notes added by 'git notes add'
  3e97cc0e5e2712da7e43ee37f0010ca1d0b42fa0
Due: none

Additional tests for AEA-5481 redirect rules
  features/cpts_ui/notfound.feature
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Fix steps
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Step implementations
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Mac dev container fixes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Makefile
  features/environment.py
Due: run_black, run_pyright, run_flake8

commented out failing test and added 2 todos
  features/cpts_ui/prescription_list.feature
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

Correct the prescripion page url pattern
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

remove direct url
  features/cpts_ui/prescription_information_banner.feature
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

handle past prescriptions
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
Due: run_black, run_pyright, run_flake8

remove broken test
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

Add the error message tests
  features/cpts_ui/prescription_list.feature
  features/steps/common_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  features/steps/cpts_ui/unknown_error_message_steps.py
  pages/prescription_not_found.py
Due: run_black, run_pyright, run_flake8

Amend nhs number in the prescription not found message test
  features/cpts_ui/search_for_a_prescription.feature
Due: none

Update the redirection url to prescription detail page
  features/steps/cpts_ui/prescription_list_steps.py
Due: run_black, run_pyright, run_flake8

Update function title
  features/steps/cpts_ui/prescription_not_found_page_steps.py
Due: run_black, run_pyright, run_flake8

use function name
  features/steps/cpts_ui/prescription_details_steps.py
Due: run_black, run_pyright, run_flake8

Fix test inputs and checking
  features/cpts_ui/notfound.feature
  features/environment.py
  features/steps/cpts_ui/page_not_found_steps.py
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Fix Arm64 support
  Makefile
  README.md
  features/cpts_ui/notfound.feature
  features/environment.py
  features/steps/cpts_ui/page_not_found_steps.py
  runner.py
Due: run_black, run_pyright, run_flake8

Fix failing page not found
  features/cpts_ui/notfound.feature
Due: none

Fix arm64 running
  features/environment.py
  runner.py
Due: run_black, run_pyright, run_flake8

Fix for pipeline
  .github/workflows/regression_tests.yml
  runner.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Limit interception to requeests hitting prescription-list endpoint
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

Update the comment
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4737] - Unknown Error Page (#365)
  features/cpts_ui/prescription_list.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/__init__.py
  features/steps/common_steps.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/prescription_not_found_page_steps.py
  features/steps/cpts_ui/unknown_error_message_steps.py
  pages/unknown_error_message.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  b1e0b35aef06d124af3e2dcc7479b677cd22b03a
Due: none

deploy: b1e0b35aef06d124af3e2dcc7479b677cd22b03a
  index.html
Due: none

Notes added by 'git notes add'
  b87fc96d717715a37339a69c6d6f6512b9b1507f
Due: none

Switch to wait_for_url
  features/steps/cpts_ui/page_not_found_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-5492] - do not use direct url for search results (#371)
  features/cpts_ui/prescription_detail.feature
  features/cpts_ui/prescription_information_banner.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/prescription_details_steps.py
  features/steps/cpts_ui/prescription_information_banner.py
  features/steps/cpts_ui/prescription_list_steps.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  37daaf2b8f495c7734292c552719165bb65064c9
Due: none

deploy: 37daaf2b8f495c7734292c552719165bb65064c9
  index.html
Due: none

delay cookie
  features/steps/cpts_ui/cookie_steps.py
Due: run_black, run_pyright, run_flake8

added banner regression tests
  features/cpts_ui/patient_detail_banner.feature
Due: none

Fix: [AEA-0000] - delay checking for cookies (#373)
  features/steps/cpts_ui/cookie_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  28aa001a46efe6d35d2706856e8d67f16515c56e
Due: none

fix test for past prescription
  features/cpts_ui/prescription_detail.feature
Due: none

wait longer for cookies
  features/steps/cpts_ui/cookie_steps.py
Due: run_black, run_pyright, run_flake8

fix II
  features/cpts_ui/prescription_detail.feature
Due: none

Fix: [AEA-0000] - fix test for past prescription (#374)
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/cookie_steps.py
Due: run_black, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
