Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Add tests for roles with access cards
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Comment out failing features
  features/cpts_ui/home.feature
  features/cpts_ui/search_for_a_prescription.feature
Due: none

Update a scenario title
  features/cpts_ui/select_your_role.feature
Due: none

New: [AEA-4653] - [AEA-4651] - Combined PR for Select your Role page features (#203)
  .github/workflows/regression_tests.yml
  .gitignore
  Makefile
  features/cpts_ui/home.feature
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/select_your_role_steps.py
  package-lock.json
  package.json
  pages/select_your_role.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  591fc98e2ea5d6af6f5274294a9720c144369e86
Due: none

fix logic
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix logic in showing failure (#206)
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  cacc87d903610041d158fdbaf998f1e78981a19f
Due: none

Add tests for the Select Your Role header
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

removed underscores from BDD slimmed down steps and removed not-needed try/excepts moved CIS2 mock user id into environment.py removed content checks
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Add tests for a user without access to cpts
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Add tests for a user without access table
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-4658] - Select your role page header (#207)
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/select_your_role.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  6b95162b0aebd385a123a19a36b0585f674e853c
Due: none

Minor changes
  features/environment.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Update regression tests
  .devcontainer/devcontainer.json
  Makefile
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Dont install playwright in quality-checks
  .pre-commit-config.yaml
  Makefile
Due: none

Refactor the code
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  0811356bd2072c0215d8bdc11b0c830907f1d9ce
Due: none

Notes added by 'git notes add'
  7a30f585b0fb681b4dc6718acb73dd3d9d208459
Due: none

Updated github action cache version to v4
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - Updated github action cache version to v4 (#213)
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  4388c4cb39d1e728242091c7bf3511d2adecafcd
Due: none

Update the select your role steps with redirection after login
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Make regression tests
  features/cpts_ui/logout.feature
  features/steps/__init__.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/logout.py
Due: run_black, run_pyright, run_flake8

Rename a step for the select your role page
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

Add a test to verify that a user is redirected to the search for a prescription page
  features/cpts_ui/search_for_a_prescription.feature
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Rename the MOCK_CIS2_LOGIN variables
  features/environment.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4656] - One role with access (#212)
  features/cpts_ui/search_for_a_prescription.feature
  features/cpts_ui/select_your_role.feature
  features/environment.py
  features/steps/cpts_ui/search_for_a_prescription_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/search_for_a_prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  23daf8b9a187282f3f5424ce219643360d5c268b
Due: none

Mkae changes re: Sean
  Makefile
  README.md
  features/cpts_ui/logout.feature
  features/environment.py
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Update readme
  README.md
Due: none

Describe new feature flow
  README.md
Due: none

Update login ID
  features/steps/cpts_ui/common_steps.py
Due: run_black, run_pyright, run_flake8

New: [AEA-4809] - Add logout user flow (#214)
  Makefile
  README.md
  features/cpts_ui/logout.feature
  features/environment.py
  features/steps/__init__.py
  features/steps/cpts_ui/common_steps.py
  features/steps/cpts_ui/logout_steps.py
  features/steps/cpts_ui/select_your_role_steps.py
  pages/logout.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  ab033d12e93a7bc96fd05610c8f526e2c95bcee0
Due: none

Notes added by 'git notes add'
  359d74e0872cf7b798b100ca147cd01a855a680d
Due: none
