Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

Notes added by 'git notes add'
  9dc09e2ae5304e95ebab2c636d9cb27db6c69e72
Due: none

Fix: [AEA-5516] - Fixed tracker details page items tests (#415)
  features/cpts_ui/prescription_detail.feature
  features/steps/cpts_ui/prescription_details_steps.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
  pages/prescription_details.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  96782519a3354ec81f45fef4c46f0a649e2559ac
Due: none

deploy: 96782519a3354ec81f45fef4c46f0a649e2559ac
  index.html
Due: none

Notes added by 'git notes add'
  d92633e036db726c4064eabc960d716ffb7fb7e4
Due: none

Notes added by 'git notes add'
  0c7d8975379ae90acaa16c7166d4fa1ac1fbbb53
Due: none

Notes added by 'git notes add'
  a1a95cbc9036b11f8e2bac1b1e9f4f4877e8fc1e
Due: none

Notes added by 'git notes add'
  aed728d106e8b75b3e5710c92e45d23d69d6ade5
Due: none

Notes added by 'git notes add'
  91ceefe2e74c08436fb9fe2daac3c8d0ded4a092
Due: none

Notes added by 'git notes add'
  181847d6fd82337e8379878b5a3edb37c0c598f9
Due: none

[AEA-5616] refactoring dn logic and adding tests and logic for status reasons
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  features/steps/eps_api_steps.py
  messages/eps_fhir/cancel.py
  messages/eps_fhir/common_maps.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/dispense_notification_erd.py
  methods/api/cpts_api_methods.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debug tests
  features/cpts_api/get_prescription.feature
Due: none

[AEA-5616] debug tests
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  .devcontainer/devcontainer.json
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  features/cpts_api/get_prescription.feature
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  80eba784dc0384371d8572625c0e67ea37b4cc42
Due: none

[AEA-5616] misc cleanup
  features/steps/eps_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

[AEA-5616] debugging tests
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

feat: adds new test cases to test regressive security gap behaviour
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  7ed76d7855eab80061db7060434335f681b77533
Due: none

New: [AEA-5616] - Add CPT API status reason tests (#422)
  .devcontainer/devcontainer.json
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  features/steps/eps_api_steps.py
  messages/eps_fhir/cancel.py
  messages/eps_fhir/common_maps.py
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/dispense_notification_erd.py
  messages/eps_fhir/prescription.py
  methods/api/cpts_api_methods.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  1ac34a1a29acfae6487ba79b75a21d6513392137
Due: none

deploy: 1ac34a1a29acfae6487ba79b75a21d6513392137
  index.html
Due: none

Notes added by 'git notes add'
  249a320bad53a7510816e5d5855f9add74dfa4a2
Due: none

fix: adds mechanism catering for amplify signout redirect page
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

chore: adds ticket decorator
  features/cpts_ui/logout.feature
Due: none

feat: adds a new test case to test against a security bug
  features/cpts_ui/select_your_role.feature
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

chore: missing common step
  features/steps/common_steps.py
Due: run_black, run_pyright, run_flake8

chore: moves around steps
  features/steps/common_steps.py
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

Update dependabot and devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: lint-githubactions

Notes added by 'git notes add'
  179bc5fc3d76a5e11152090161590f631fcb5286
Due: none

chore: removes never used parameter
  features/cpts_ui/select_your_role.feature
Due: none

Chore: [AEA-5751] - Update dependabot schedule and add git secrets build command (#429)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: lint-githubactions

Notes added by 'git notes add'
  f38331eb6bb7e0fcccc80cd6d427aa1ba4e75f57
Due: none
