Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: actionlint
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
        
  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system

fail_fast: false
default_stages: [pre-commit, commit]

updated regression tests for new modal work
  .devcontainer/Dockerfile
  features/cpts_ui/logout.feature
  features/steps/cpts_ui/logout_steps.py
  pages/logout.py
Due: run_black, run_pyright, run_flake8

Add PFP-PROXYGEN product repo name
  features/environment.py
Due: run_black, run_pyright, run_flake8

fixed dockerfile
  .devcontainer/Dockerfile
Due: none

Fix: [AEA-6037] - Add PFP-PROXYGEN product repo name (#546)
  features/environment.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  3aefe3c7f303dafdaceef39599a49df87733c8a5
Due: none

fix: rename status, use enum
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

fix: result.success
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

fix: centile responses
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

fix: protect report with lock
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

Minimal impact, add PFP before creating generic changes
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Facilitate accompanying products
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

update language versions
  .tool-versions
  package-lock.json
  package.json
  pyproject.toml
Due: none

Chore: [AEA-0000] - update language versions (#548)
  .tool-versions
  package-lock.json
  package.json
  pyproject.toml
Due: none

really udpate python
  .tool-versions
Due: none

Notes added by 'git notes add'
  0619d82a4173f555ed2f1010c58d1f1536c186bf
Due: none

Chore: [AEA-0000] - update python to 3.12.12 (#549)
  .tool-versions
Due: none

deploy: d629774e7482d53c8b420bacccd6be0b85d4e60b
  index.html
Due: none

Notes added by 'git notes add'
  d629774e7482d53c8b420bacccd6be0b85d4e60b
Due: none

Make it a safe fetchhhh
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Fix body payload
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Make it an ID
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

Add docstring
  scripts/add_pr_product_to_app.py
Due: run_black, run_pyright, run_flake8

fix behave
  poetry.lock
  pyproject.toml
Due: none

fix cache
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Chore: [AEA-0000] - pin behave to 1.2.6 (#555)
  .github/workflows/regression_tests.yml
  poetry.lock
  pyproject.toml
Due: lint-githubactions

fix: pin behave, bump poetry
  .tool-versions
  poetry.lock
  pyproject.toml
Due: none

deploy: 086c9ba2e2df8f1d30c0b76d342d5fef99facd4f
  index.html
Due: none

Notes added by 'git notes add'
  d3f1e1928e0316dea291719a1011545132e4da69
Due: none

Notes added by 'git notes add'
  e45817f9c6af4dae6151d7436f280de8b9d848b2
Due: none

removed comments
  features/steps/cpts_ui/logout_steps.py
Due: run_black, run_pyright, run_flake8

chore: set a timeout on PFP request
  methods/api/pfp_api_methods.py
Due: run_black, run_pyright, run_flake8

docs: specify that PFP-APIGEE is default product
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

fix: multiple --tags support documented in README
  runner.py
Due: run_black, run_pyright, run_flake8

fix(SQ): cognitive complexity
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: tidy up, placate SQ
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: unwrap nested func call
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore(SQ): reraise
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

chore: run SQ locally
  .devcontainer/devcontainer.json
Due: none

fix: async file access
  poetry.lock
  pyproject.toml
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8

fix: arm63 typo
  scripts/run_uptime_monitor.py
Due: run_black, run_pyright, run_flake8
