Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

cleaned up some duplicate code
  features/steps/common_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - Skip steps if sandbox (#162)
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix for running in SANDBOX environments
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

formatting
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-0000] - fix for running in sandbox (#163)
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

do not do stuff for sandbox
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

debug
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

really fix it
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

more fixes
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

trying to fix
  features/steps/eps_api_steps.py
  methods/api/eps_api_methods.py
Due: run_black, run_pyright, run_flake8

more trying to fix
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

more skipping
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

tidy up
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

Fix: [AEA-000] - skip some steps for sandbox (#165)
  features/steps/eps_api_steps.py
Due: run_black, run_pyright, run_flake8

added feature file, added products to regression_tests.yml, added new tags in runner.py, added new tests and added endpoint variables to environment
  .github/workflows/regression_tests.yml
  features/environment.py
  features/eps_fhir/split_endpoints.feature
  features/steps/common_steps.py
  features/steps/eps_api_steps.py
  features/steps/split_endpoints.py
  methods/api/eps_split_endpoints_api_methods.py
  runner.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Move to communal qc
  .github/workflows/ci.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
Due: lint-githubactions

Update pr-link.yml
  .github/workflows/pr-link.yml
Due: lint-githubactions

split feature file. added endpoint placeholder, added tests, recased feature files
  features/eps_fhir/cancelPrescription.feature
  features/eps_fhir/createPrescriptions.feature
  features/eps_fhir/dispenseNotification.feature
  features/eps_fhir/dispensePrescription.feature
  features/eps_fhir/dispensingEndpoint.feature
  features/eps_fhir/prescribingEndpoint.feature
  features/eps_fhir/returnPrescriptions.feature
  features/eps_fhir/split_endpoints.feature
  features/steps/eps_prescribe_dispense.py
  methods/api/eps_prescribe_dispense_api_methods.py
  runner.py
Due: run_black, run_pyright, run_flake8

Lint script
  .github/workflows/pr-link.yml
  scripts/check_python_licenses.sh
Due: lint-githubactions

Add empty makefile target
  Makefile
Due: none

Move to communal QC
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix test
  messages/eps_fhir/common.py
Due: run_black, run_pyright, run_flake8

fix test
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

add allure and github cli
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .tool-versions
Due: none

update readme on how to get reports
  README.md
Due: none

revert changes
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

fix dispense notification
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

fix more tests
  messages/eps_fhir/common.py
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

revert common changes
  messages/eps_fhir/common.py
Due: run_black, run_pyright, run_flake8

Revert "revert common changes"
  messages/eps_fhir/common.py
Due: run_black, run_pyright, run_flake8

try another fix
  messages/eps_fhir/dispense_notification.py
Due: run_black, run_pyright, run_flake8

revert one common change
  messages/eps_fhir/common.py
Due: run_black, run_pyright, run_flake8

use a different function for withdraw
  messages/eps_fhir/common.py
  messages/eps_fhir/withdraw_dispense_notification.py
Due: run_black, run_pyright, run_flake8

fix ref
  messages/eps_fhir/common.py
Due: run_black, run_pyright, run_flake8

fix return
  messages/eps_fhir/common.py
  messages/eps_fhir/prescription_return.py
Due: run_black, run_pyright, run_flake8

add makefile target for downloading allure report
  Makefile
  README.md
Due: none

correct typo
  README.md
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
