Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: poetry run black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: poetry run pyright
  language: system

run_flake8:
  name: flake8
  entry: poetry run flake8
  language: system

Notes added by 'git notes add'
  1eeaeba21b6cbf05607a76d91a056e4d65a1f9d6
Due: none

Notes added by 'git notes add'
  905c2ee50248d43c927c01f9987ae07fce8e3203
Due: none

Notes added by 'git notes add'
  12c9eeda20037dd52180c010d2fff3b7e99adf9e
Due: none

Notes added by 'git notes add'
  cf56a0579c31f30c2307eba5c18b06ddadf11c47
Due: none

Notes added by 'git notes add'
  b194b374c387895f9db51dac6bd56536638084f1
Due: none

fix: make dynamic values clearer
  features/psu/send_status_update.feature
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

docs: replace todo
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

chore: move map for reuse
  features/steps/psu_api_steps.py
  methods/api/psu_api_methods.py
Due: run_black, run_pyright, run_flake8

refactor: make status updates a config flag
  features/psu/send_status_update.feature
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

fix: remove duplicated retry
  features/steps/psu_api_steps.py
Due: run_black, run_pyright, run_flake8

chore: preferred naming
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

chore: tidy logging
  methods/api/pfp_api_methods.py
Due: run_black, run_pyright, run_flake8

fix: behave's override to logging
  features/environment.py
Due: run_black, run_pyright, run_flake8

chore: abbreviate 2 steps to single func
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Revert "chore: abbreviate 2 steps to single func"
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

chore: abbreviate 2 steps to single function
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Chore: [AEA-0000] - expand psu tests (#594)
  features/psu/send_status_update.feature
  features/steps/eps_api_steps.py
  features/steps/pfp_api_steps.py
  features/steps/psu_api_steps.py
  methods/api/pfp_api_methods.py
  methods/api/psu_api_methods.py
Due: run_black, run_pyright, run_flake8

deploy: 035b6bb6aeca95f92da47286397e931a6dd5e43f
  index.html
Due: none

Notes added by 'git notes add'
  035b6bb6aeca95f92da47286397e931a6dd5e43f
Due: none

chore: fix config of psu update enablement
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

chore: tmp vuln ignore, await new npm
  .trivyignore.yaml
Due: none

Chore: [AEA-0000] - fix config of PSU feature flag (#605)
  .trivyignore.yaml
  features/steps/pfp_api_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  4847c7e93e98f9637fc660c2b08f35350c50a119
Due: none

Fix medicationrequest-category https to http change
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

chore: skip and comment delegated access test
  features/pfp/get_prescriptions_via_delegated_access.feature
Due: none

Notes added by 'git notes add'
  6372428cee57b65244ca75228491682e62905c50
Due: none

Notes added by 'git notes add'
  9491065f5bfee6795a548d6d2553f2c45f3dcf6d
Due: none

Notes added by 'git notes add'
  f34f030a7ff4818f9f76107806a72f168bdc252e
Due: none

Notes added by 'git notes add'
  ed461fbbde24db86522b8698d235b65aeeb17c6c
Due: none

Notes added by 'git notes add'
  e926f2c8b4ed5d34fea63591cc70f1d3466d0b0b
Due: none

Notes added by 'git notes add'
  e7fe0de8eae5d02a8bc1007b30a0c6a5f4e68895
Due: none

Notes added by 'git notes add'
  a779798b85104ae6c327edba8c8bec984f47d7ac
Due: none

chore: publish to GitHub packages
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
Due: lint-githubactions

fix(fhir): category needs to be referenced by http only
  messages/eps_fhir/dispense_notification.py
  messages/eps_fhir/prescription.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  6df0cf28617c420f47a3c4b426a1d1a170e87d09
Due: none

Notes added by 'git notes add'
  0105456cca328ec441dd0ad7761999586527ac31
Due: none

Notes added by 'git notes add'
  a1a3e0aa3ca92a43e253725284180b8efe16110f
Due: none

Notes added by 'git notes add'
  5bdd43c5f4f5a612d18a986c76e8f868d0201a82
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
