Repository NHSDigital/electronic-prescription-service-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: actionlint
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: pyright
  language: system

run_flake8:
  name: flake8
  entry: flake8
  language: system

Add the get_prescription feature
  features/cpt_api/get_prescription.feature
Due: none

added CPT_FHIR credentials to set_secrets.sh script
  scripts/set_secrets.sh
Due: none

Added single test for getting prescription details by searching for prescription ID renamed folder from cpt_api to cpts_api to keep the naming consistent throughout the pack
  features/cpt_api/get_prescription.feature
  features/cpts_api/get_prescription.feature
  features/cpts_api/ping.feature
  features/environment.py
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
  methods/shared/common.py
Due: run_black, run_pyright, run_flake8

Add client secrets for CPT_FHIR to set_secrets.sh
  scripts/set_secrets.sh
Due: none

added search_for_prescriptions.feature
  features/cpt_api/search_for_prescriptions.feature
Due: none

skip sandbox tests
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/metadata.feature
  features/eps_fhir/validator.feature
Due: none

Notes added by 'git notes add'
  6937df58ed954ef064d35e51cd53ab8748ab5edd
Due: none

Fix: [AEA-0000] - skip sandbox tests that do not work (#260)
  features/eps_fhir/cancel_prescriptions.feature
  features/eps_fhir/create_prescriptions.feature
  features/eps_fhir/metadata.feature
  features/eps_fhir/validator.feature
Due: none

Notes added by 'git notes add'
  7c8d906a6b4a8a18a9e55df67e218420847feb2d
Due: none

renamed instances of CPTS-API to CPTS-FHIR
  .github/workflows/regression_tests.yml
  features/cpts_api/get_prescription.feature
  features/environment.py
  methods/shared/common.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Added test for retrieving prescription
  features/cpts_api/get_prescription.feature
  features/cpts_api/ping.feature
  features/environment.py
  features/steps/common_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

[AEA-4929] adding tests for prescription search
  .github/workflows/regression_tests.yml
  features/cpt_api/ping.feature
  features/cpt_api/search_for_prescriptions.feature
  features/environment.py
  features/steps/common_steps.py
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
  methods/shared/common.py
  scripts/set_secrets.sh
  utils/random_nhs_number_generator.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  871b03a38fe2c09ea29842bcad584dab8d7aa19a
Due: none

Added tests for retrieving prescription search results
  features/cpt_api/search_for_prescriptions.feature
  features/environment.py
  features/steps/cpts_api_steps.py
  methods/api/common_api_methods.py
  methods/api/cpts_api_methods.py
  utils/random_nhs_number_generator.py
Due: run_black, run_pyright, run_flake8

added cpt secret info to regression_tests.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

more lowercasing of pull_request_id
  features/environment.py
Due: run_black, run_pyright, run_flake8

Add the cpt secrets to regression_tests workflow
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Use hardcoded prescription id
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Use hardcoded nhs number
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

use latest asdf-vm
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

update versions
  .tool-versions
Due: none

no keys
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

use asdf version
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

no v
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
Due: lint-githubactions

Use dynamic prescriptionId and nhsNumber valuses for a prescription that has been dispensed
  features/cpts_api/get_prescription.feature
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Use hardcoded values for prescription id and nhs number
  features/cpts_api/get_prescription.feature
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Add the prescription not found message test
  features/cpts_api/get_prescription.feature
  features/steps/common_steps.py
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Restore broken test for retrieving prescription with dynamic data
  features/cpts_api/get_prescription.feature
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Print the prescription not found message
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Add a test for the path parameter not provided
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Fix the missing required path parameter test
  features/cpts_api/get_prescription.feature
  features/steps/cpts_api_steps.py
  methods/api/cpts_api_methods.py
Due: run_black, run_pyright, run_flake8

Create test for redirection logic. Minor refactoring around that.
  features/cpts_ui/header.feature
  features/cpts_ui/home.feature
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Fix some tests
  features/cpts_ui/change_role.feature
  features/cpts_ui/header.feature
  features/cpts_ui/notfound.feature
  features/cpts_ui/select_your_role.feature
  features/steps/cpts_ui/home_steps.py
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Fix some other tests
  features/cpts_ui/your_selected_role.feature
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Fix login detection
  features/steps/cpts_ui/login_steps.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  6b328ccdae14f0c11166972a2689d178b6aeca5a
Due: none

Notes added by 'git notes add'
  a408a05d14816018d88f3ede0838aea61fd4068c
Due: none

Fix: [AEA-0000] - use latest asdf-vm (#264)
  .github/workflows/regression_tests.yml
  .github/workflows/release.yml
  .tool-versions
Due: lint-githubactions

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
